@mixin button ($color){
    display: inline-block;
    color: $color_W;
    font-size: $fs-s;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: $color;
    border: none;
    border-radius: 5px;
    transition: .3s;
    padding: 5px 15px;
  
    &:hover {
        background-color: darken($color, 10);
    }
  
    &:disabled,
    &.disabled,
    fieldset:disabled & {
      opacity: .5;
    }
    @content;
  }

.btn-green{
    @include button($color_G);
}

.btn-yellow{
    @include button($color_Y);
}

.btn-red{
    @include button($color_R);
}
  
//切換按鈕
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before{
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

input:checked + .slider {
    background-color: $color_G;
}

input:focus + .slider {
    box-shadow: 0 0 1px $color_G;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;

    &:before{
        border-radius: 50%;
    }
}


// checkbox
/* Customize the label (the check_container) */
.check_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        outline: 1px solid $color-G;
        border-radius: 3px;
        transition: .3s;
    }


  }
  

  /* On mouse-over, add a grey background color */
  .check_container:hover input ~ .checkmark {
    // background-color: $color-G;
    outline: 2px solid darken($color-G, 10);
  }
  
  /* When the checkbox is checked, add a blue background */
  .check_container input:checked ~ .checkmark {
    background-color: $color-G;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check_container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }