h2{
    font-size: $fs-xl;
    letter-spacing: $letter-spacing-6;

    @include mobile{
        font-size: 36px;
        letter-spacing: 5px;
    }
}

h3{
    font-size: $fs-l;
    letter-spacing: $letter-spacing-3;

    @include mobile{
        font-size: 24px;
        letter-spacing: 3px;
    }
}

h4{
    font-size: $fs-m;
    letter-spacing: $letter-spacing-2;

    @include mobile{
        font-size: 24px;
        letter-spacing: 2px;
    }
}

h5{
    font-size: $fs-s;
    line-height: $LH-38;
    letter-spacing: $letter-spacing-2;

    @include mobile{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 27px;
    }
}

p{
    font-size: $fs-xs;
    line-height: $LH-24;

    @include mobile{
        font-size: 12px;
        line-height: 20px;
    }
}

//英文字
h6{
    font-size: $fs-2xl;
    font-family: $fontfamily;

    @include mobile{
        font-size: 64px;
        line-height: 70px;
    }
}