*{
    box-sizing: border-box;
}

body{
    width: 100%;
    color: #454545;
    // font-family: $fontfamily;
    font-family: map-get($fontfamily, "zhtw");
    
}

// .wrapper{
//     width: 1140px;
//     margin: 0 auto;
//     padding: 0 10px;
// }