// ======== 顏色 ========

$primary-color1:#16B1AA;
$primary-color2:#FF8671;
$primary-color3:#FACD01;

// ======== 文字大小 ========

$h2: 64px;
$h3: 48px;
$h4: 64px;
$h5: 24px;
$p : 15px;

// ======== 行高 ========

$h5-line-height: 38px;
$p-line-height: 24px;

// ======== 字距 ========
$h2-letter-spacing: 6px;
$h3-letter-spacing: 3px;
$h4-letter-spacing: 3px;
$h5-letter-spacing: 2px;