// ======== 顏色 ========

$color_G:#16B1AA;
$color_R:#FF8671;
$color_Y:#FACD01;
$color_W:#ffffff;
$color_B:#454545;

// ======== 文字大小 ========   

$h2: 64px;
$h3: 48px;
$h4: 64px;
$h5: 24px;
$p : 15px;

// ======== 行高 LineHeight ========

$h5_LH: 38px;
$p_LH: 24px;

// ======== 字體 ========

$fontfamily: "Noto Sans Traditional Chinese , Oswald";

// ======== 字距 ========
$h2-Letter-spacing: 6px;
$h3-letter-spacing: 3px;
$h4-letter-spacing: 3px;
$h5-letter-spacing: 2px;
