// ======== 顏色 ========

$color_G:#16B1AA;
$color_R:#FF8671;
$color_Y:#FACD01;
$color_W:#ffffff;
$color_B:#454545;

// ======== 文字大小 ========   

$fs-2xs : 12px; //手機版
$fs-xs: 15px;
$fs-s: 24px;
$fs-m: 36px;
$fs-l: 48px;
$fs-xl: 64px;
$fs-2xl: 110px;

// ======== 行高 LineHeight ========

$LH-38: 38px;
$LH-24: 24px;

// ======== 字距 ========

$letter-spacing-6: 6px;
$letter-spacing-3: 3px;
$letter-spacing-2: 2px;

// ======== 字體 ========

$fontfamily: (
    "zhtw" : "Noto Sans TC",
    "eng" : "Oswald"
);




