@import 'base/var';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'base/reset';
@import 'base/button';
@import 'mixin/mixin';
@import 'base/utility';
@import 'base/typography';
@import 'mixin/space';
@import 'layout/back.aside';
@import 'backpages/member_mg';
@import 'backpages/back_login';
@import 'backpages/back_index';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import 'backpages/back_activity';
@import 'backpages/back_activity_detail';
@import 'backpages/back_products';
@import 'backpages/back_product_detail';