@import 'base/var';
@import 'base/reset';
@import 'mixin/mixin';
@import 'base/utility';
@import 'base/typography';
@import 'mixin/space';
@import 'layout/login';
@import 'layout/header';
@import 'layout/footer';
@import 'frontpages/index';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import './frontpages/news.scss';
@import './frontpages/news_in.scss';
@import './frontpages/animal';
@import './frontpages/checkout.scss';
@import './frontpages/product_detail.scss';
