.order-container{
	
	.back_title{
		width: 900px;
		margin: 30px auto;
	}
	.o_btn_area {
		width: 900px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		button{
			margin-right: 20px;
		}
		.search-area{
			display: flex;
			align-items: center;
			position: relative;
			#search_order {
				width: 250px;
				height: 40px;
				border-radius: 8px;
				border: 2px solid #ccc;
				padding: 3px 10px;
				margin-right: 10px;
			}
			.search_icon{
				width: 25px;
				position: absolute;
				right: 20px;
			}
		}

	}
	
	.list_area {
		width: 920px;
		margin: 0 auto;
		#order-list {
			margin: 20px 0;
			li {
				display: grid;
				grid-template-columns: 6% 16% 20% 16% 15% 15% 12%;
				padding: 12px 0;
				text-align: center;
				align-items: center;
				border: 1px solid $color_G;

				&:first-child {
					background-color: $color_G;
					p{
						color: $color_W;
					}
				}

				.check_container{
					transform: translate(16px, -7px);
				}

				.order_info{
					width: 50px;
					height: 30px;
					line-height: 2px;
					margin: 0 auto;
				}
			}
		}
	
		.-off {
		background-color: #ccc;
		}
	}
	

	
	
	#o_page_area {
		width: 900px;
		margin: 0 auto;
		padding-bottom: 80px;
		ul {
			display: flex;
			float: right;
		
			li {
				margin: 5px;
				background-color: $color_Y;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				color: $color_B;
		
				&:first-child,
				&:last-child {
				background-color: $color_G;
				}
			}
		
			p {
				text-align: center;
				transform: translateY(3px);
			}
		
			.page_hear {
				background-color: $color_R;
			}
		}
	}
}