.bk_in{
    margin-left: auto;
    margin-right: 0;
    padding-top: 0;
}

.bk_title{
    display: flex;
    text-align: center;
    justify-content: center;
}

.bi_top{
    display: flex;
    margin-left: 150px;
}


.bk_in .yellor{
    height: 40px;
    width: 80px;
    @include button($color_Y);
    border: 0px;
    font-size: 24px;
}

.bk_in .orange{
    height: 40px;
    width: 80px;
    @include button($color_R);
    border: 0px;
    margin-left: 24px;
    font-size: 24px;
}

.bi_top .left{
    margin-top: 60px;
    margin-left: 100px;
}

.bi_top .right{
    margin-top: 60px;
    display: flex;
    margin-left: 100px;
}

.bi_top .right p{
    font-size: 24px;
    margin-left: 15px;
    margin-top: 5px;
}

.select_left{
    width: 160px;
    height: 40px;
    border: 1px solid $color_G;
    border-radius: 5px;
    font-size: 15px;
}

.select_right{
    width: 160px;
    height: 40px;
    border: 1px solid $color_G;
    border-radius: 5px;
    font-size: 15px;
}

.main{
    display: flex;
    margin-left: 490px;
}

.main p:nth-child(2){
    margin-left: 150px;
}
.main p:nth-child(3){
    margin-left: 200px;
}

.list{
margin-left: 80px;
}

.list img{
    width: 140px;
    height: 100px;
}


.list .list_in{
    height: 160px;
    display: flex;
    border: 1px solid $color_G;
    border-radius: 5px;
    justify-content:space-around;
    align-items: center;
    margin-left: 300px;
    margin-top: 25px;
}

.list_in p{
    font-size: 15px;
    width: 259px;
}

.list_in button{
    @include button($color_G);
    border: 0;
    width: 68px;
    height: 38px;
    font-size: 15px;
}

.down{
    height: 60px;
    display: flex;
    justify-content: end;
    margin-right: 150px;
}

.down a{
    display: inline-block;
    width: 25px;
    height: 35px;
    margin: 5px 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
}

.down span{
    display: inline-block;
    background-color: #fecc55;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

@media screen and (max-width:1200px){
    .list .list_in{
        margin-left: 200px;
    }
    .main{
        margin-left: 370px;
    }
}

@media screen and (min-width:1500px){
    .main{
        margin-left: 590px;
    }
    .main p:nth-child(2){
        margin-left: 300px;
    }
    .main p:nth-child(3){
        margin-left: 300px;
    }
}




