#back_pds {
  .b_aside{
    z-index: 3;
  }
  .pds_right {
    padding-left: 20%;
    margin: 10px 30px;

    @include back_title;
  }
}

form {
  width: 100%;
  margin: 0 10px;

  //   圖片區塊
  .prd_image_area {
    figure {
      width: 590px;
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0 30px;

      span {
        margin: 0 auto;
        font-size: $fs-s;
      }
      //   首圖
      .select_topImage1 {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 590px;
        height: 590px;
        border: 2px double #ccc;
        position: relative;
        flex-grow: 1;

        .arror_l {
          left: 3px;
        }
        .arror_r {
          right: 3px;
        }

        // 左右箭頭
        button {
          width: 30px;
          height: 30px;
          display: none;
          color: $color_W;
          font-size: $fs-s;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          background-color: rgba($color: #ccc, $alpha: 0.7);
          border: none;
          border-radius: 50%;
          transition: 0.3s;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          .bi-chevron-left::before {
            transform: translate(-5px, 2px);
          }
          .bi-chevron-right::before {
            transform: translate(-1px, 2px);
          }
        }
        // 插入圖片後
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      //   其他圖片
      @for $i from 2 to 5 {
        .select_topImage#{$i} {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 183px;
          height: 183px;
          border: 2px double #ccc;
          flex-grow: 0;
          margin-top: 10px;
          img {
            max-width: 100%;
          }
        }

        .select_topImage3 {
          margin: 10px 20px 0;
        }
      }
    }
  }
}

// 商品資訊
.prd_info {
  width: 590px;
  margin: 10px 0;
  * {
    vertical-align: middle;
    margin: 5px 0;
    font-size: $fs-xs;
    text-align: center;
  }

  // 各項名稱
  p {
    font-size: $fs-s;
    vertical-align: middle;
    position: relative;
    text-align: left;
    height: 28px;
  }
  input {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: $fs-xs;
  }

  // 單行input
  #prd_name,
  #prd_slog1,
  #prd_slog2,
  #prd_ingredient {
    width: 100%;
  }

  // 種類select
  #prd_kind {
    width: 260px;
    height: 50px;
    margin-right: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  // 半行input
  #prd_cost,
  #prd_price,
  #prd_inStock {
    width: 260px;
    margin-right: 30px;
  }
  /* Chrome, Safari, Edge, Opera */
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  // 成本、售價
  p[for="prd_cost"]::before,
  p[for="prd_price"]::before {
    content: "NT$";
    font-size: $fs-s;
    position: absolute;
    bottom: -46px;
    left: 8px;
    z-index: 1;
  }

  // 規格輸入框
  #prd_ingredient {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    padding: 10px;
    text-align: left;
  }

  // 半行列外框
  .info_box {
    display: flex;
    flex-grow: 1;
  }
  .warn {
    border: 2px solid red !important;
  }
  span {
    font-size: $fs-xs;
    color: red;
  }
}

.pds_right {
  // 商品介紹區
  article {
    // h5 {
    //   text-align: center;
    // }

    button#add_prdIntroduce {
      margin: 5px 10px 5px 0;
    }
  }

  // 底下的按鈕
  .submit_area {
    width: 800px;
    text-align: center;
  }
  #submit {
    margin: 10px 10px 10px 0;
  }
  #cancel {
    @include button($color_W) {
      color: $color_B;
      border: 1px solid #ccc;
      margin: 10px 0;
    }
  }
}

// 區塊
.prd_introduce {
  width: 800px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  position: relative;

  .select_introPic{
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .select_image {
    display: flex;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      opacity: 1;

      &:hover {
        opacity: 0.3;
      }
    }

    span {
      position: absolute;
      text-align: center;
      margin: 0 auto;
      font-size: $fs-s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  .prd_introduce_input {
    width: 400px;
    height: 88px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: $fs-s;
    resize: none;
  }
  &:nth-child(even) textarea {
    order: -1;
  }
  .bi-x {
    position: absolute;
    font-size: 50px;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.y_shadow {
  box-shadow: inset 0 0 15px $color_Y;
}

// 彈窗
div#back_bg {
  background-color: rgba(45, 45, 45, 0.5);
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  display: none;
  &.-on{
    display: block !important;
  }

  #pop_box {
    margin:50px;
    padding: 50px;
    background-color: $color_W;
    border-radius: 5px;
    width: 600px;
    height: 300px;
    z-index: 1001;
    position: relative;
    
  }
  .bi-x {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .cancel {
    @include button($color_W) {
      color: $color_B;
      border: 1px solid #ccc;
      margin: 10px 10px 10px;
    }
  }
  span+input{
      font-size: $fs-xs;
      margin-bottom: 10px;
      width: 400px;
    }
}
