.bk_in{
    margin-left: 20%;
    padding: 0 40px;
    @include back_title();

    .tibameMessage{
        text-align: center;
        margin: 30px 0 50px;
    }
}

// .bk_title{
//     display: flex;
//     text-align: center;
//     justify-content: center;
// }

.bi_top{
    display: flex;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .left{
        button{
            margin-right: 10px;
        }
    }

    // .right{
        // display: flex;
        select{
            margin-left: 10px;
            margin-right: 30px;
        }
        .search{
            display: inline-block;
            position: relative;
        }

        .search_icon{
            position: absolute;
            width: 20px;
            top: 26px;
            left: 268px;
            cursor: pointer;
        }
    
        .search-input{
            // display: block;
            margin: 15px 0 15px 15px;
            height: 40px;
            width: 285px;
            border-radius: 8px;
            padding: 10px;
            border: 2px solid #ccc;
            // font-size: 20px;
        }
    // }
}


.select_left{
    width: 200px;
    height: 40px;
    border-radius: 8px;
	border: 2px solid #ccc;
    font-size: 15px;
}

// .select_right{
//     width: 160px;
//     height: 40px;
//     border-radius: 8px;
// 	border: 2px solid #ccc;
//     font-size: 15px;
// }

.news-list{
    width: 900px;
    margin: 15px auto 0;
    // .main{
    //     display: flex;
    //     margin-left: 80px;
    // }
    
    // .main p:nth-child(2){
    //     margin-left: 150px;
    // }
    // .main p:nth-child(3){
    //     margin-left: 200px;
    // }
    li{
        display: grid;
        grid-template-columns: 8% 20% 32% 20% 20%;
        text-align: center;
    }
    
    img{
        width: 140px;
        height: 100px;
    }
    
    .list_in{
        height: 160px;
        // display: flex;
        border: 1px solid $color_G;
        border-radius: 5px;
        // justify-content:space-around;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 25px;
        transition: opacity 1s;
    }
    
    .list_in p{
        font-size: 15px;
        width: 259px;
    }
    
    .list_in button{
        @include button($color_G);
        border: 0;
        width: 68px;
        height: 38px;
        font-size: 15px;
    }
}

.list_in.fade_out{
    opacity: 0;
}

.down{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}

.down a{
    display: inline-block;
    width: 25px;
    height: 35px;
    margin: 5px 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
}

.down span{
    display: inline-block;
    background-color: #fecc55;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}




