.bk_in{
    margin-left: 20%;
    @include back_title();
}

.bk_title{
    display: flex;
    text-align: center;
    justify-content: center;
}

.bi_top{
    display: flex;
    // margin-left: 150px;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .left{
        button{
            margin-right: 10px;
        }
    }

    .right{
        display: flex;
        select{
            margin-left: 10px;
            margin-right: 30px;
        }
    }
}


.select_left{
    width: 200px;
    height: 40px;
    border-radius: 8px;
	border: 2px solid #ccc;
    font-size: 15px;
}

.select_right{
    width: 160px;
    height: 40px;
    border-radius: 8px;
	border: 2px solid #ccc;
    font-size: 15px;
}

.news-list{
    width: 900px;
    margin: 25px auto 0;
    .main{
        display: flex;
        margin-left: 60px;
    }
    
    .main p:nth-child(2){
        margin-left: 150px;
    }
    .main p:nth-child(3){
        margin-left: 200px;
    }
    
    .list{
    }
    
    .list img{
        width: 140px;
        height: 100px;
    }
    
    
    .list .list_in{
        height: 160px;
        display: flex;
        border: 1px solid $color_G;
        border-radius: 5px;
        justify-content:space-around;
        align-items: center;
        margin-top: 25px;
    }
    
    .list_in p{
        font-size: 15px;
        width: 259px;
    }
    
    .list_in button{
        @include button($color_G);
        border: 0;
        width: 68px;
        height: 38px;
        font-size: 15px;
    }
}

.down{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}

.down a{
    display: inline-block;
    width: 25px;
    height: 35px;
    margin: 5px 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
}

.down span{
    display: inline-block;
    background-color: #fecc55;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

@media screen and (max-width:1200px){
    .list .list_in{
        margin-left: 200px;
    }
    .main{
        margin-left: 370px;
    }
}

@media screen and (min-width:1500px){
    .main{
        margin-left: 590px;
    }
    .main p:nth-child(2){
        margin-left: 300px;
    }
    .main p:nth-child(3){
        margin-left: 300px;
    }
}




