article{
    @include borderTest(blue);
    width: calc(100% - 20%);
    margin-left: auto;
    margin-right: 0;
}


h4{
    @include textCenter();
    margin-top: 30px;
}
//ul
.bi_fuc{
    display: flex;
    width: 100%;
    height: 200px;
    text-align: center;
    border: 1px solid $color_G;
    // background-color: $color_G;
    // vertical-align : middle;
    // @include  marginCenter();
    // border: 1px solid green;
    
    
}

.bi_fuc > li{
    border: 1px solid $color_G;
    width: 200px;
    height: 200px;
    
    
    // border: 1px solid red;
}
.bi_fuc > li a{
    color: $color_B;
}

.bi_fuc img{
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    display: block;
    margin: 30px auto;

    
}



.bi_fuc li:hover{
    background-color: $color_G;
    // color: $color_W;
    cursor: pointer;
}

.bi_fuc li:hover a{
    // background-color: $color_G;
    color: $color_W;
    cursor: pointer;
}