

.logo{
    @include borderTest();
    @include textCenter;
    @include marginCenter();
    display: block;
    max-width: 400px;
    padding-top: 60px;

}
.bl_title{
    @include textCenter;
    color:$color_G ;
    font-size: $fs-l;
    margin-top: 60px;
    border: 1px solid green;
}

.bl_login{
// display: block;
font-size: $fs-s;
@include marginCenter();
@include textCenter();
// max-width: 1000px;
border: 1px solid blue;

}

.group{
    width: 1000px;
    display: block;
    @include marginCenter();
    margin-top: 20px;
    margin-left: 35px;
   
}

label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

#username ,#password{
    border: 1px solid red;
    width: 300px;
    height: 44px;
    border-radius: 4px;
    display: inline-block;
    // margin: 0 auto;
}

.bl_btn{
    border: 1px solid orange;
    background-color: $color_G;
    color: $color_W;
    font-size: $fs-s;
    width: 300px;
    height: 44px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    
}

.bl_btn :hover{
    background-color: $color_Y;
    color: $color_W;
    font-size: $fs-s;
    width: 300px;
    height: 44px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    
} 
