.backcontainer{
    .act-detail-container{
        width: 900px;
        margin: 0 auto;
    }
    .activity-detail{
        width: 88%;
        margin: 0 auto;
        

        #p_file{
            margin-bottom: 20px;
        }
        .choose-file{
            margin-bottom: 20px;
            margin-left: 35px;
        }
        .filename{
            transform: translateY(-10px);
            display: inline-block;
            margin-left: 10px;
        }
        #drop_zone{
        border: 1px solid $color_G;
        width: 70%;
        height: 400px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        text-align: center;
            .preview-img{
                max-width: 100%;
                max-height: 100%;
                @include positionCenter();
            }
            span{
                line-height: 400px;
            }

        }
        #drop_zone.-on {
            border: 1px dashed lightseagreen;
            box-shadow: 3px 3px 5px lightseagreen inset, -3px -3px 5px lightseagreen inset;
        }

        label{
            font-size: $fs-s;
        }

        .oneline{
            
            .tilde{
                display: inline-block;
                margin-left: 20px;
            }
        }

        textarea{
            margin-top: 10px;
            resize: none;
            padding: 20px;
            font-size: $fs-xs;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
        input {
            border: 1px solid #ccc;
            border-radius: 8px;
            margin-left: 25px;
            padding: 10px;
            font-size: $fs-xs;
        }

        input[name="name"]{
            width: 100%;
            margin-left: 0;
        }
        input[type="date"], input[type="time"]{
            width: 30%;
            &:read-only{
                background-color: #DADCDF;
            }
        }
        input[type="radio"] {
                border: 0px;
                width: 3%;
                height: 2em;
                margin-right: 7px;
                margin-left: 40px;
                filter: hue-rotate(323deg);
        }
        input[type="file"] {
            border: none;
        }

        .buttons{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            button{
                padding: 5px 30px;
                margin: 0 20px;
            }
        }

        .onoroff{
            margin-top: 30px;
            span{
                font-size: $fs-s;
            }
            label{
                margin-left: 20px;
            }
        }
    }
}
