.wrapper{
    @include borderTest($borderc:blue); // 測試線
    padding: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    .main{
        h4{
            @include textCenter();
            margin-top: 20px;
        }
        .titleBar{
            display: flex;
        }
    }
    
}
