// ===== 物件水平置中 =====
@mixin marginCenter(){
    margin: 0 auto;
    @content;
}

// ===== 文字水平置中 =====
@mixin textCenter {
    text-align: center;
}

// ===== Media query =====
@mixin pad{
    @media (max-width: 767.98px){
      @content;
    }
  }
  @mixin mobile{
    @media (max-width: 575.98px){
      @content;
    }
}

// ===== 測試用border =====
@mixin borderTest($borderc:red){
  border: 1px solid $borderc;
}

// ===== wrapper =====
@mixin wrapper($top: 0, $bottom: 0, $width: 1100px){
  margin: $top auto $bottom;
  width: $width;
  @content;
}