// ===== 物件水平置中 =====
@mixin marginCenter(){
    margin: 0 auto;
    @content;
}

// ===== 文字水平置中 =====
@mixin textCenter {
    text-align: center;
}

// ===== Media query =====
@mixin pad{
    @media (max-width: 767.98px){
      @content;
    }
  }
  @mixin mobile{
    @media (max-width: 575.98px){
      @content;
    }
}
@mixin desktop-s{
  @media (min-width: 768px) and (max-width: 1199.98px){
    @content;
  }
}

// ===== 測試用border =====
@mixin borderTest($borderc:red){
  border: 1px solid $borderc;
}

// 用座標定位水平垂直置中
@mixin positionCenter(){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ====button bgc背景色,fc文字顏色,bc框線顏色====
@mixin buttonSet($bgc:$color_G,$fc:$color_W,$bc:$color_G){
  background-color: $bgc;
  color: $fc;
  border: 1px solid $bc;
}
//圓形按鈕
@mixin roundButton(){
  background-image: url("../img/material/round_button_green.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 160px;
  height: 154px;
  transition: .5s;
  &:hover{
      background-image: url("../img/material/round_button_yellow.png");
  }
  @content;
}

//標題圓球裝飾
@mixin titleDecBall($url){
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background-image: url($url);
  background-size: contain;
  position: absolute;
  top: -10px;
  left: 180px;
  z-index: -1;
  @content;
}

// 後台頁title區塊 請搭配back_title.html一起用
@mixin back_title{
  .back_title{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h4{
      margin: 0 30px;
    }

    .mb_cow{
      width: 50px;
    }

    @include pad {
      margin: 20px 0;
      h4{
        margin: 0 15px;
      }

      .mb_cow{
        width: 30px;
      }

    }

    @content;
  }
}