// ===== margin 上下左右 =====
@mixin Margin($dir , $val){
    @for $i from 1 through $val {
       .margin#{$dir}_#{$i} {
          margin-#{$dir}: $i * 1px;
       }
    }
  }


  @include Margin(top, 100);
