.activityTop.container-fluid{
    @include top_block("../img/activity/activity_banner.jpg");
}



//-----------------------彈窗-------------------------------------

.black_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    z-index: 14;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 470px;
    background-color: #FECC55;
    border-radius: 10px;
    z-index: 15;

    padding-top: 50px;
    text-align: center;
    line-height: 1.6;
}

@keyframes swing {
    15% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    65% {
        transform: rotate(5deg);
    }

    85% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shake {
    15% {
        transform: rotate(2deg);
    }

    40% {
        transform: rotate(-2deg);
    }

    65% {
        transform: rotate(3deg);
    }

    85% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.modal_img {
    width: 140px;
}


.modal_button {
    height: 25px;
    width: 90px;
    background-color: #16B1AA;
    border: none;
    border-radius: 10px;
    letter-spacing: 3px;
    color: black;

}

.modal_date {
    height: 50px;
    width: 150px;
}



.x_icon_position {
    position: absolute;
    top: 8px;
    right: 8px;
}


button.hamburger_icon {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    border-style: none;
    background: none;
}



button.hamburger_icon span.-hr {
    height: 1px;
    width: 50%;
    background-color: #16B1AA;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* 上方的線 */
button.hamburger_icon span.-hr.-top {
    transform-origin: top left;
    top: 5px;
    left: 6px;
    width: 102%;
    transform: rotate(45deg);
}


/* 下方的線 */
button.hamburger_icon span.-hr.-bottom {
    transform-origin: top left;
    bottom: 5px;
    left: 6px;
    width: 102%;
    transform: rotate(-45deg);
    top: auto;
}

.reserve {
    cursor: pointer;
}

.item_img_icon {
    cursor: pointer;
}


//----------------------------3D slider------------------------------


.title{
margin-top: 30px;
text-align: center;
}

.checkList {
    display: flex;
    margin-bottom: 50px;
    @include pad{
        // margin-top: 50px;
        // margin-bottom: 0;
    }
    @include mobile{
        // margin-top: 30px;
    }
}

.checkList img {
    width: 13vw;
}

.checkList img:hover {
    transform: scale(1.3);
}

#slider {
    position: relative;
    width: 30%;
    height: 10vw;
    /* height: 32vw; */
    margin: 30px auto 100px auto;
    perspective: 1400px; 
    transform-style: preserve-3d;
    @include mobile{
        margin: 30px auto 20px;
    }
}

.slider{
    display: none;
}

input .slider [type=radio] {
    display: none;
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
}


input .slider[type=radio]:nth-child(6) {
    margin-right: 0px;
}

input .slider [type=radio]:checked {
    opacity: 1;
}




#slider label,
#slider label img {
    position: absolute;
    width: 17.63vw;
    height: 17.63vw;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}



/* Slider Functionality */

/* Active Slide */
#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5,
#s6:checked~#slide6 {
    box-shadow: 0;
    transform: translate3d(0, 0, 0px);
}

/* Next Slide */
#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide6,
#s6:checked~#slide1 {
    box-shadow: 0;
    transform: translate3d(13.88vw, 0, -6.94vw);
}


/* Next to Next Slide */
#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide6,
#s5:checked~#slide1,
#s6:checked~#slide2 {
    box-shadow: 0;
    transform: translate3d(27.77vw, 0, -17.36vw);
}

/* Previous to Previous Slide */
#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide6,
#s4:checked~#slide1,
#s5:checked~#slide2,
#s6:checked~#slide3 {
    box-shadow: 0;
    transform: translate3d(-27.77vw, 0, -17.36vw);
}

/* Previous to Previous Slide */
#s1:checked~#slide5,
#s2:checked~#slide6,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3,
#s6:checked~#slide4 {
    box-shadow: 0;
    transform: translate3d(41.66vw, 0, -22.22vw);
}

/* Previous Slide */
#s1:checked~#slide6,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4,
#s6:checked~#slide5 {
    box-shadow: 0;
    transform: translate3d(-13.88vw, 0, -6.94vw);
}




//--------------------------main-------------------------------
 
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item_p {
    padding-top: 150px;
    color: rgb(0, 0, 0);
    width: 400px;
}


.item .reserve{
    width: 90px;
    /* height: 20px;  */
    border-radius: 10px;
    text-align: center;
    letter-spacing: 3px;
}

.item_imgcover{
    width: 500px;
    height: 500px;
    object-fit: cover; 
    position: relative;
    overflow: hidden;
}

.item_img{
    border-radius: 50%;
    position: absolute;
    object-position: left 50%;
    /* width: 100%;
    height: auto; */
    height: 450px; 
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.item_img_icon{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0px;
    animation: shake 2s infinite;
    transform-origin: bottom;
    width: 13vw;
    min-width: 125px;
}


.reserve{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 180px;
    // position: absolute;
    border-style: none;
    z-index: 2;
    // right: 0;
    // bottom: 0;
    color: black;
    height: 40px;
    float:right;
}

.reserve:hover{
    // animation: shake 3s infinite;
    transform: scale(1.3);
}








.odd_item:nth-child(odd) {

    // background-color: rgb(223, 223, 223);
    .item{  
        .item_imgcover{
            order: 2;
        }
        .item_p{
            order: 1;
        }
}
}

//---------------------------game entrance-----------------------------------
@keyframes shift {
    15% {
        transform: translateY(5px);
    }

    40% {
        transform: translateY(-5px);
    }

    65% {
        transform: translateY(10px);
    }

    85% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes ball3 {
    0%{border-radius: 65% 35% 68% 32% / 39% 50% 50% 61%    ;}
    25%{border-radius: 47% 53% 34% 66% / 36% 50% 50% 64%   ;}
    50%{border-radius: 57% 43% 52% 48% / 41% 49% 51% 59%  ;}
    75%{border-radius: 66% 34% 36% 64% / 40% 70% 30% 60%    ;}
    100%{border-radius: 65% 35% 68% 32% / 39% 50% 50% 61%    ;}
}

.game{
    position: fixed;
    // opacity: 0;
    // visibility: hidden;
    right: 10px;
    bottom: 40px;
    z-index: 13;
}

.game img{
    position: relative;
    animation: ball3 6s linear infinite ;
    width: 10vw;
    min-width: 95px;
}

.game.show {
    opacity: 1;
    visibility: visible;
}

.game h5{
    font-size: 18px;
    color: black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
}

.game h5:hover{
    color: #16B1AA;
}




//---------------------------RWD-----------------------------------

@media screen and (max-width: 1200px) {
    .item_img_icon{
        bottom:8px
    }
}

@media screen and (max-width: 899px) {

    .odd_item:nth-child(odd) {
        .item{  
            .item_imgcover{
                order: 1;
            }
            .item_p{
                order: 2;
            }
            }
    }
    .item_p{
        padding-top: 20px;
    }
}

@media screen and (max-width: 550px) {
    .item_img{
        width: 400px;
        height: 400px;
    }

    .item_imgcover{
        width: 400px;
        height: 400px;
    }
    
    .item_p{
       width: 300px;
    }

}

@media screen and (max-width: 500px) {
    .modal{
        width: 300px;
        height: 420px;
    }
    .modal_img{
        width: 100px;
    }
}

@media screen and (max-width: 480px) {
    .item_img{
        width: 360px;
        height: 360px;
    }

    .item_imgcover{
        width: 360px;
        height: 360px;
    }
    
    .item_p{
       width: 300px;
    }

}


@media screen and (max-width: 410px) {
    .item_img{
        width: 300px;
        height: 300px;
    }

    .item_imgcover{
        width: 300px;
        height: 300px;
    }
    
    .item_p{
       width: 250px;
    }

    .item{
        margin-top: 5px;
    }

    .title{
        font-size: 15px;
    }
}





