
.animal_banner{
    width: 100%;
	height: auto;
	display: block;
}

.container{
    margin: 0 auto;
}


.map{
    height: auto;
    width: 100%;
}

.icon_map_r{
    position: relative;
    width: 89vw; 
    margin:auto;
}

@keyframes swing{
    15%{transform: translateX(5px);} 
    40%{transform: translateX(-5px);}
    65%{transform: translateX(2px);}
    85%{transform: translateX(-2px);}
    100%{transform: translateX(0px);}
}

.button_f1 a{
    transition: 0.5s;
}



.icon_sheep{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(566.65)/1440);
    left: calc(100vw*(637.94)/1440);
    animation: swing 1s infinite ;
   
}

.icon_cow{
    position: absolute;
    width:calc(100vw*168.97/1440);
    top:calc(100vw*(23.04)/1440);
    left: calc(100vw*(358.76)/1440);
    animation: swing 1s infinite ;
}


.icon_alpaca{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(145.53)/1440);
    left: calc(100vw*(761.61)/1440);
    animation: swing 1s infinite ;
}

.icon_horse{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(556.65)/1440);
    left: calc(100vw*(259.58)/1440);
    animation: swing 1s infinite ;
}

.icon_pig{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(268.02)/1440);
    left: calc(100vw*(1086.09)/1440);
    animation: swing 1s infinite ;
}

.icon_deer{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(321.38)/1440);
    left: calc(100vw*(33.06)/1440);
    animation: swing 1s infinite ;
}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 20px;
}


section{
    display: flex;
} 

section:nth-child(odd) {
    background-color: rgb(177, 177, 177);
    flex-direction: row-reverse;
}  



/* section:nth-child(odd) {
    background-color: rgb(177, 177, 177);
} 

section:nth-child(odd) img{
    background-color: rgb(164, 219, 223);
    position: absolute;
    right: 0px;
}  */


/* .item:nth-child(odd){
    background-color: rgb(177, 177, 177);
    flex-direction: row-reverse;
}  */

.item_img{
    /* width:calc(100vw*427/1440); */
}

.item_p{
    margin-top: 110px;
}

.item_title{

}

.item_desc{
    width: 450px;
    height: 200px;
}



@media screen and (max-width: 575.98px){
    section:not(._on){
        display: none;
    }
    
}  

@media screen and (max-width: 940px){
    .item_p{
        padding-top: 0px;
        margin-top: 0px;
    }
    
}  

