.animalTop.container-fluid{
    @include top_block("../img/animal/animal_banner.jpg");
}

.animal_banner{
    width: 100%;
	height: auto;
	display: block;
}

.animal-container{
    margin: 0 auto;
}


.map{
    height: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.icon_map_r{
    position: relative;
    width: 89vw; 
    margin:auto;
}

// translateX
@keyframes swing{
    15%{transform: rotate(10deg);} 
    40%{transform: rotate(-10deg);}
    65%{transform: rotate(5deg);}
    85%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
}

.button_f1 a{
    transition: 0.5s;
}



.icon_sheep{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(566.65)/1440);
    left: calc(100vw*(637.94)/1440);
    animation: swing 2s infinite ;
    transform-origin: bottom;
    cursor: pointer;
}

.icon_cow{
    position: absolute;
    width:calc(100vw*168.97/1440);
    top:calc(100vw*(23.04)/1440);
    left: calc(100vw*(358.76)/1440);
    animation: swing 2s infinite ;
    transform-origin: bottom;
    cursor: pointer;
}


.icon_alpaca{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(145.53)/1440);
    left: calc(100vw*(761.61)/1440);
    animation: swing 2s infinite ;
    transform-origin: bottom;
    cursor: pointer;
}

.icon_horse{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(556.65)/1440);
    left: calc(100vw*(259.58)/1440);
    animation: swing 2s infinite ;
    transform-origin: bottom;
    cursor: pointer;
}

.icon_pig{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(268.02)/1440);
    left: calc(100vw*(1086.09)/1440);
    animation: swing 2s infinite ;
    transform-origin: bottom;
    cursor: pointer;
}

.icon_deer{
    position: absolute;
    width:calc(100vw*154.28/1440);
    top:calc(100vw*(321.38)/1440);
    left: calc(100vw*(33.06)/1440);
    animation: swing 2s infinite ;
    transform-origin: bottom;
    cursor: pointer;
}

//--------------button-----------------
.buttonList {
    list-style: none;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    right: 10px;
    top: 90px;
    z-index: 13;
    // background-color: #FECC55;
    // border-radius: 10px;
}

.buttonList.show {
    opacity: 1;
    visibility: visible;
}

.buttonList img {
    width: 5vw;
    min-width: 80px;
}

// .buttonList img:hover {
//     transform: scale(1.3);
// }

.buttonList li:hover{
    background-color: #FECC55;
    border-radius: 50%;
    cursor: pointer;
}


//---------------item-------------------

.animalItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}


.animalImg_cover{
    width: 600px;
    display: flex;
    justify-content: center;
}

.animalItem_img{
    width: 500px;
}

.animalItem_p{
    width: 400px;
    padding-top: 130px;
}




.animal-container{
    @media screen and (max-width: 575.98px){
        section:not(._on){
            display: none;
        }
        
    }  
}

section:nth-child(odd){
    .animalItem{  
            .animalImg_cover{
                order: 2;
            }
            .animalItem_p{
                order: 1;
                // margin-right: 50px;
            }
    }
}

section:nth-child(even){
    .animalItem{  
            .animalItem_cover{
            }
            .animalItem_p{
                // margin-left: 50px;
            }
    }
}



//---------------------------RWD-----------------------------------

@media screen and (max-width: 999px) {

    section:nth-child(odd){
        .animalItem{  
                .animalImg_cover{
                    order: 1;
                }
                .animalItem_p{
                    order: 2;
                }
        }
    }
    .animalItem_p{
        padding-top: 20px;
        padding-bottom: 10px;
    }
}


@media screen and (max-width: 576px) {

    .buttonList{
        display: none;
    }
}
@media screen and (max-width: 500px) {

    
    .animalImg_cover{
        width: 400px;
        height: 380px;
    }

    .animalItem_img{
        width: 400px;
        height: 380px;
    }
    
    .animalItem_p{
       width: 400px;
    }
}


@media screen and (max-width: 420px) {
    .animalImg_cover{
        width: 350px;
        height: 300px;
    }

    .animalItem_img{
        width: 300px;
        height: 280px;
    }
    
    .animalItem_p{
       width: 300px;
    }
}









