// ========== 流程步驟 1 2 3 ==========

	.step{
		display: flex;
		margin-top: 100px;
		color: #79d4cf;
        @include textCenter();
        justify-content: center;
		align-items: center;
        position: relative;
		span{
			width: 100px;
			height: 1px;
			background-color: $color_G;
			color: $color_G;
			margin: 0 5px;
		}
		p{
			margin: 0;
		}
        .stepNB{
            font-size: $fs-m;
            border: 1px solid #79d4d0ab;
            border-radius: 50%;
            background-color: #79d4cf;
            color: $color_W;
            width: 60px;
            height: 60px;
            padding-top: 15px;
			margin: 10px auto;
        }
        // ======== 換步驟 ========
        .active {
            color:$color_G;

            .stepNB{
                border: 1px solid $color_G;
                background-color: $color_G;
            }
        }
	}
// ============ 結帳流程一 ============
.stepA {
	// ---------- 購物車 ----------
	.step1 {
		margin: 100px auto 0;
		width: 100%;
		display: grid;
		// @include pad{
		// 	width: 650px;
		// }
		// @include mobile{
		// 	width: 360px;
		// }

		.carName {
			background-color: $color_Y;
			width: 100%;
			height: 65px;
			grid-template-columns: 100%;
			padding: 20px;
			color: $color_W;
			font-size: $fs-s;
			border-radius: 8px 8px 0 0;
		}
		.carTitle {
			display: grid;
			align-items: center;
			grid-template-columns: 42% 15% 18% 20% 5%;
			padding: 20px;
			@include textCenter();
			border: 1px solid #c4c4c4;
			@include pad{
				display: none;
			}
		}
		.carInfo {
			border-top: none;
			display: grid;
			align-items: center;
			grid-template-columns: 22% 20% 15% 18% 20% 5%;
			@include textCenter();
			@include pad{
				grid-template-columns: 40% 35% 25%;
			}

			p {
				@include pad{
					margin-top: 50px;
				}
				@include mobile{
					margin: 40px 2px;
				}
			}
			.infoImg {
				width: 200px;
				@include marginCenter();
				@include pad{
					width: 100px;
				}
			}
			.garbageCan {
				width: 20px;
				height: 20px;
				cursor: pointer;

				@include pad{
					margin: 0px 20px 0 190px;
				}
				@include mobile{
					margin: 35px auto 0;
				}
			}
			.quantity {
				width: 30px;
				height: 30px;
				@include textCenter();
				border: 1px solid $color_Y;
				margin: 0;
				display: inline-block;
			}
			.mbBtn {
				width: 30px;
				height: 30px;
				font-weight: bold;
				border: 1px solid $color_Y;
				background-color: $color_Y;
				color: $color_W;
				outline-style: inherit;
				cursor: pointer;
			}
		}
	}
	// ---------- 訂單資訊 ----------
	.step1Down {
		margin: 100px auto 0;

		.productInfo {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-row-gap: 15px;
			@include textCenter();
			padding: 30px 200px;
			border: 1px solid #c4c4c4;
			@include mobile{
				padding: 20px 70px;
			}
			.pdName{
				@include mobile{
					margin-top: 10px;
				}
			}
		}
	}
	.gotoPay {
		border: 1px solid $color_R;
		background-color: $color_R;
		border-radius: 8px;
		color: $color_W;
		width: 100px;
		height: 50px;
		display: block;
		margin: 50px auto;
		cursor: pointer;
	}
}
// ============ 結帳流程二 ============
.stepB {
	// *********** 表格標題 ***********
	.carName2-1 {
		background-color: $color_Y;
		width: 100%;
		height: 65px;
		grid-template-columns: 100%;
		padding: 20px;
		color: $color_W;
		font-size: $fs-s;
		border-radius: 8px 8px 0 0;
	}
	// ---------- 送貨資訊 ----------

	.step2 {
		margin: 100px auto 0;
		width: 100%;

		// @include pad{
		// 	width: 650px;
		// }
		// @include mobile{
		// 	width: 360px;
		// }
		// =================== 表格1 總計 ===================
		// *********** 總計表格標題 ***********
		.carName2 {
			background-color: $color_Y;
			width: 100%;
			height: 90px;
			padding: 20px;
			color: $color_W;
			font-size: $fs-s;
			border-radius: 8px 8px 0 0;
			@include textCenter();
			@include mobile{

			}

			.titleTop {
				font-size: $fs-s;
			}
			.titleDown{
				@include mobile{
					margin-top: 10px;
				}
			}
		}
		// *********** 欄位標題 ***********
		.carTitle {
			display: grid;
			grid-template-columns: 42% 18% 15% 25%;
			padding: 20px;
			@include textCenter();
			border: 1px solid #c4c4c4;
		}
		// *********** 購買商品列 ***********
		.carInfo {
			display: grid;
			grid-template-columns: 40% 20% 15% 25%;
			@include textCenter();

			.imgInfo{
				display: flex;
				@include mobile{
					display: block;
				}
			}

			p {
				margin-top: 70px;
				@include pad{
					margin-top: 40px;
				}
			}
			.infoImg {
				width: 200px;
				margin: 0 15px;

				@include pad{
					width: 100px;
				}
				@include mobile{
					margin: 0;
				}
			}
		}
		.lastTotal {
			border: 1px solid #c4c4c4;
			padding: 10px 0 10px 82%;

			@include mobile{
				padding: 10px 0 10px 60%;
			}
		}
		// =================== 表格2 送貨資訊 ===================
		// ----------- 送貨資訊欄位 -----------
		.sendbox,.addressout{
			position: relative;
			>span{
				position: absolute;
				left: 50%;
				bottom: -10px;
				transform: translateX(-50%);
				font-size: 12px;
				color: red;
			}
		}

		.addressout {
			span{
				bottom: 40px;
			}
		}

		.send {
			padding: 10px 50px;
			border: 1px solid #c4c4c4;
			display: grid;
			grid-template-columns: 50% 50%;
			border-bottom: none;
			@include pad{
				padding: 10px;
			}		
			@include mobile{
				grid-template-columns: 100%;
			}	

			.sendIn {
				display: block;
				padding: 5px 100px;
				@include pad{
					padding: 5px 50px;
				}
				@include mobile{
					padding: 5px 10px;
				}
			}
			.np {
				display: inline;
				width: 200px;
                height: 30px;
				margin: 10px 100px;
				border: 1px solid #c4c4c4;
				border-radius: 8px;
				padding: 5px;

				@include pad{
					margin: 5px 50px;
				}
				@include mobile{
					margin: 5px 10px;
					width: 185px;
				}
			}
		}
		.addressout {
			border: 1px solid #c4c4c4;
			border-top: none;
			padding: 0 50px;

			@include pad{
				padding: 0;
			}
			.addressin {

				.sendIn {
					display: block;
					padding: 5px 100px;
					@include pad{
						padding: 5px 60px;
					}
					@include mobile{
						padding: 5px 20px;
					}
				}
				.sendAddress {
					display: block;
					width: 650px;
					height: 35px;
					margin: 10px 100px;
					border: 1px solid #c4c4c4;
					border-radius: 8px;
					@include pad{
						width: 400px;
						margin: 10px 60px;
					}
					@include mobile{
						width: 260px;
						margin: 5px 20px;
					}
				}
				.checkSame {
					margin: 15px 10px 15px 100px;
					width: 20px;
					height: 20px;

					@include pad{
						margin: 15px 10px 15px 60px;
					}
					@include mobile{
						margin: 15px 10px 15px 30px;
					}
				}
			}
		}
	}
	// =================== 表格3 付款資訊 ===================
    .payfor {
		border: 1px solid #c4c4c4;
        .paymain {
			padding-left: 80px;
			@include mobile{
				padding-left: 40px;
			}
			p {
				margin: 5px 0 5px 20px;
			}
            .paySelect {
				width: 200px;
                height: 30px;
				@include textCenter();
				padding: 3px;
				border: 1px solid #c4c4c4;
				border-radius: 8px;
				appearance: none;
				background-image: url("../img/icon/optionicon.png");
				background-position: right 0.5em top 50%, 0 0;
				background-size: contain;
				background-repeat: no-repeat;
				margin: 5px 20px 10px;
			}
        }
    }
    // ======== 信用卡資訊 ========
    .card_info {
        border: 1px solid #c4c4c4;
        border-top: none;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;

		@include pad{
			padding: 50px;
		}
		@include mobile{
			padding: 10px;
		}
    
        .card_infoI {
            display: grid;
            grid-template-columns: 50% 50%;
            @include textCenter();
            @include marginCenter();
            width: 90%;
			@include pad{
				grid-template-columns: 100%;
				text-align: left;
				padding: 10px;
			}
            .cardAll{
                margin: 15px;
				position: relative;
				>span{
					position: absolute;
					top: 90%;
					left: 65%;
					color: red;
					font-size: 12px;
				}
				.cardNumber{
					@include mobile{
						display: block;
						
					}
				}
				@include mobile{
					margin: 8px;
				}
            }
			.carddate{
				margin: 15px;
				position: relative;
				>span{
					position: absolute;
					top: 90%;
					left: 45%;
					color: red;
					font-size: 12px;
				}
				@include mobile{
					margin: 8px;
				}
			}
            //卡號
            .payId {
                width: 50px;
				@include mobile{
					width: 44px;
				}
            }
            //到期日
            .date {
                width: 50px;
                @include textCenter();
            }
            //持卡人姓名
            .cardname {
                text-align: center;
                padding-left: 95px;
				position: relative;
				>span{
					position: absolute;
					top: 26px;
					left: 147px;
				}
				
				@include pad{
					padding: 0;
					text-align: left;
				}
            }
            // 安全碼
			.cardcsc{
				position: relative;
				>span{
					position: absolute;
					top: 26px;
    				left: 175px;
				}
			}
            #CSC {
                width: 120px;
            }
        }
        // ======== 付款方式 input標籤樣式 ========
        .payInput {
            border: 1px solid #c4c4c4;
            border-radius: 8px;
            padding: 5px;
        }
    }
	.payGoback{
		margin: 0 auto;
		text-align: center;
		.goback{
			border: 1px solid $color_Y;
			background-color: $color_Y;
			color: $color_W;
			border-radius: 8px;
			padding: 10px;
			display: inline-block;
			margin: 30px;
			cursor: pointer;
		}
		.paysub {
			border: 1px solid $color_R;
			background-color: $color_R;
			color: $color_W;
			border-radius: 8px;
			padding: 10px;
			display: inline-block;
			margin: 30px;
			cursor: pointer;
		}
	}
	
}

// ============ 結帳流程三 ============
.stepC{
	// display: none;
    margin: 100px auto;
    @include textCenter();
    h3{
        margin-bottom: 30px;

		@include pad{
			font-size: $fs-m;
		}
    }
	h5{
		@include pad{
			font-size: $fs-xs;
		}
	}
    .myMB{
        color: $color_B;
        text-decoration: underline;

    }

	.gogoa{
		display: inline-block;
    	.gogo{
    	    width: 100px;
    	    height: 50px;
    	    border: 1px solid $color_R;
    	    background-color: $color_R;
    	    border-radius: 8px;
    	    color: $color_W;
    	    margin: 30px;
			cursor: pointer;
    	}
	}
}
