// ========== 流程步驟 1 2 3 ==========

	.step{
		display: flex;
		margin-top: 100px;
		color: #79d4cf;
        @include textCenter();
        justify-content: center;
        position: relative;
        li:after{
            content: "";
            width: 400px;
            height: 1px;
            background-color: $color_G;
            position: absolute;
            top: 40px;
            left: 35%;
            z-index: -1;
			@include pad{
				left: 170px;
			}
        }
        .stepNB{
            font-size: $fs-m;
            border: 1px solid #79d4d0ab;
            border-radius: 50%;
            background-color: #79d4cf;
            color: $color_W;
            width: 60px;
            height: 60px;
            padding-top: 15px;
            margin: 10px 80px;
        }
        // ======== 換步驟 ========
        .active {
            color:$color_G;

            .stepNB{
                border: 1px solid $color_G;
                background-color: $color_G;
            }
        }
	}
// ============ 結帳流程一 ============
.stepA {
	// ---------- 購物車 ----------
	.step1 {
		margin: 100px auto 0;
		width: 1000px;
		display: grid;
		@include pad{
			width: 650px;
		}

		.carName {
			background-color: $color_Y;
			width: 100%;
			height: 65px;
			grid-template-columns: 100%;
			padding: 20px;
			color: $color_W;
			font-size: $fs-s;
			border-radius: 8px 8px 0 0;
		}
		.carTitle {
			display: grid;
			grid-template-columns: 35% 20% 10% 30% 10%;
			padding: 20px;
			@include textCenter();
			border: 1px solid #c4c4c4;
			@include pad{
				display: none;
			}
		}
		.carInfo {
			border-top: none;
			display: grid;
			grid-template-columns: 20% 15% 20% 10% 30% 5%;
			@include textCenter();
			@include pad{
				grid-template-columns: 35% 30% 35%;
			}

			p {
				margin-top: 70px;
			}
			.infoImg {
				width: 200px;
				@include marginCenter();
				@include pad{
					width: 100px;
				}
			}
			.garbageCan {
				width: 20px;
				height: 20px;
				margin-top: 70px;
				cursor: pointer;
			}
			.quantity {
				width: 30px;
				height: 30px;
				@include textCenter();
				border: 1px solid $color_Y;
				margin: 0;
				display: inline-block;
			}
			.mbBtn {
				width: 30px;
				height: 30px;
				font-weight: bold;
				border: 1px solid $color_Y;
				background-color: $color_Y;
				color: $color_W;
				outline-style: inherit;
				cursor: pointer;
			}
		}
	}
	// ---------- 訂單資訊 ----------
	.step1Down {
		margin: 100px auto 0;

		.productInfo {
			display: grid;
			grid-template-columns: 50% 50%;
			@include textCenter();
			padding: 20px 200px;
			border: 1px solid #c4c4c4;
		}
	}
	.gotoPay {
		border: 1px solid $color_R;
		background-color: $color_R;
		border-radius: 8px;
		color: $color_W;
		width: 100px;
		height: 50px;
		display: block;
		margin: 50px auto;
		cursor: pointer;
	}
}
// ============ 結帳流程二 ============
.stepB {
	// display: none;
	// *********** 表格標題 ***********
	.carName2-1 {
		background-color: $color_Y;
		width: 100%;
		height: 65px;
		grid-template-columns: 100%;
		padding: 20px;
		color: $color_W;
		font-size: $fs-s;
		border-radius: 8px 8px 0 0;
	}
	// ---------- 送貨資訊 ----------

	.step2 {
		margin: 100px auto 0;
		width: 1000px;
		// =================== 表格1 總計 ===================
		// *********** 總計表格標題 ***********
		.carName2 {
			background-color: $color_Y;
			width: 100%;
			height: 90px;
			padding: 20px;
			color: $color_W;
			font-size: $fs-s;
			border-radius: 8px 8px 0 0;
			@include textCenter();

			.titleTop {
				font-size: $fs-s;
			}
		}
		// *********** 欄位標題 ***********
		.carTitle {
			display: grid;
			grid-template-columns: 40% 20% 15% 25%;
			padding: 20px;
			@include textCenter();
			border: 1px solid #c4c4c4;
		}
		// *********** 購買商品列 ***********
		.carInfo {
			display: grid;
			grid-template-columns: 20% 20% 20% 15% 25%;
			@include textCenter();

			p {
				margin-top: 70px;
			}
			.infoImg {
				width: 200px;
				@include marginCenter();
			}
		}
		.lastTotal {
			border: 1px solid #c4c4c4;
			padding: 10px 0 10px 82%;
		}
		// =================== 表格2 送貨資訊 ===================
		// ----------- 送貨資訊欄位 -----------
		.send {
			padding: 10px 50px;
			border: 1px solid #c4c4c4;
			// @include textCenter();
			display: grid;
			grid-template-columns: 50% 50%;
			border-bottom: none;

			.sendIn {
				display: block;
				padding: 5px 100px;
			}
			.np {
				display: inline;
				width: 200px;
                height: 30px;
				margin: 10px 100px;
				border: 1px solid #c4c4c4;
				border-radius: 8px;
				padding: 5px;
			}
		}
		.addressout {
			border: 1px solid #c4c4c4;
			border-top: none;
			padding: 0 50px;
			.addressin {
				.sendIn {
					display: block;
					padding: 5px 100px;
				}
				.sendAddress {
					display: block;
					width: 650px;
					height: 35px;
					margin: 10px 100px;
					border: 1px solid #c4c4c4;
					border-radius: 8px;
				}
				.checkSame {
					margin: 15px 10px 15px 100px;
					width: 20px;
					height: 20px;
				}
			}
		}
	}
	// =================== 表格3 付款資訊 ===================
    .payfor {
		border: 1px solid #c4c4c4;
        .paymain {
			padding-left: 80px;
			p {
				margin: 5px 0 5px 20px;
			}
            .paySelect {
				width: 200px;
                height: 30px;
				@include textCenter();
				padding: 3px;
				border: 1px solid #c4c4c4;
				border-radius: 8px;
				appearance: none;
				background-image: url("../../img/icon/optionicon.png");
				background-position: right 0.5em top 50%, 0 0;
				background-size: contain;
				background-repeat: no-repeat;
				margin: 5px 20px 10px;
			}
        }
    }
    // ======== 信用卡資訊 ========
    .card_info {
        border: 1px solid #c4c4c4;
        border-top: none;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        // display: none;
    
        .card_infoI {
            display: grid;
            grid-template-columns: 50% 50%;
            @include textCenter();
            @include marginCenter();
            width: 90%;
            .cardAll{
                margin: 15px;
            }
            //卡號
            .payId {
                width: 50px;
            }
            //到期日
            .date {
                width: 50px;
                @include textCenter();
            }
            //持卡人姓名
            .cardname {
                text-align: left;
                padding-left: 35px;
            }
            // 安全碼
            #CSC {
                width: 120px;
            }
        }
        // ======== 付款方式 input標籤樣式 ========
        .payInput {
            border: 1px solid #c4c4c4;
            border-radius: 8px;
            padding: 5px;
        }
    }
	.payGoback{
		margin: 0 auto;
		text-align: center;
		.goback{
			border: 1px solid $color_Y;
			background-color: $color_Y;
			color: $color_W;
			border-radius: 8px;
			padding: 10px;
			display: inline-block;
			margin: 30px;
			cursor: pointer;
		}
		.paysub {
			border: 1px solid $color_R;
			background-color: $color_R;
			color: $color_W;
			border-radius: 8px;
			padding: 10px;
			display: inline-block;
			margin: 30px;
			cursor: pointer;
		}
	}
	
}

// ============ 結帳流程三 ============
.stepC{
	// display: none;
    margin: 100px auto;
    @include textCenter();
    h3{
        margin-bottom: 30px;
    }
    .myMB{
        color: $color_B;
        text-decoration: underline;
    }

	.gogoa{
		display: inline-block;
    	.gogo{
    	    width: 100px;
    	    height: 50px;
    	    border: 1px solid $color_R;
    	    background-color: $color_R;
    	    border-radius: 8px;
    	    color: $color_W;
    	    margin: 30px;
			cursor: pointer;
    	}
	}
}
