.game_in {
    margin-top: 70px;
    position: relative;
    height: 500px;
}

.sheep {
    position: absolute;
    top: 0;
    left: 300px;
}

.kai{
    position: absolute;
    top: 150px;
    left: 700px;
}