.indexTop{
    width: 100%;
    overflow: hidden;
    height: 780px;
    max-width: 1920px;
    position: relative;
    background-image: url("../img/index/index_top_bg_1920.png");
    background-size: auto;
    background-position-x: center;
    background-repeat: no-repeat;
    @include borderTest();


    // .indexTopBg{
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     transform: translateX(-50%);

    // }
}
.indexTop.container-fluid{
    padding: 0;
}

// section 1: intro
.indexWelcome{
    position: relative;

    .welcomeTitle{
        position: absolute;
        top: 22%;
    }

    .decYellow{
        width: 57%;
        min-width: 600px;
        position: absolute;
        top: 8%;
        left: -15%;
        z-index: -1;
    }
    .mainImg{
        width: 60%;
        min-width: 650px;
        border-radius: 50%;
        margin-left: 80px;
    }
    .nameIntroContainer{
        background-image: url('../img/material/green_textbg.png');
        background-repeat: no-repeat;
        width: 545px;
        height: 500px;
        display: flex;
        align-items: center;
        position: absolute;
        right: -3%;
        bottom: -15%;

        .nameIntro{
            color: $color_W;
            font-weight: 300;
            padding: 0 70px;
            line-height: 2;
        }
    }

}

// section 2: news
.indexNews{
    display: flex;
    flex-basis: 0;
    justify-content: space-evenly;

    .indexNewsTitle{
        h6{
            margin-top: 10px;
        }
    }

    .indexNewsList{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        li{
            p{
                display: inline-block;
                margin-right: 20px;
            }
            h5{
                display: inline-block;
            }
        }
    }

    .viewMore{
        @include roundButton();

        .viewText{
            text-align: center;
            line-height: 154px;
        }
    }
}

// section 3: memory
.indexMemory{
    position: relative;
    img{
        // margin-bottom: 100px;
        margin: 0 auto 100px;
        display: block;
        transform: translateX(-15%);
        max-width: 1200px;
        width: 80%;
        min-width: 800px;
    }
    .memoryText{
        background-image: url('../../img/material/yellow_textbg.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 800px;
        height: 400px;
        color: $color_W;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 180px 0 100px;
        position: absolute;
        left: 50%;
        transform: translateX(-10%);
        bottom: 0;

        h4{
            line-height: 1.3;
        }
    }
}

.indexMemory.container-fluid{
    padding: 0;
    overflow: hidden;
}

// section 4: activity
.indexActivity{
    h6{
        margin-top: 10px;
    }
    .activity{
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;

        .activityCard{
            .actPhotoContainer{
                width: 300px;
                padding-top: 100%;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                img{
                    height: 300px;
                    @include positionCenter();
                }
            }
            h5{
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .viewMore{
        @include roundButton(){
            margin: 60px auto;
        };
        .viewText{
            text-align: center;
            line-height: 154px;
        }
    }
}

//section 5: access
.indexInfo{
    margin-bottom: 120px;
    .indexMap{
        width: 100%;
        height: 250px;
    }
    .infoCards{
        margin-top: 60px;
        display: flex;
        justify-content: space-evenly;
        .infoCard{
            padding: 0 30px;
            flex-basis: 30%;

            .mainIconBg{
                width: 150px;
                height: 150px;
                background-size: contain;
                position: relative;
                margin: 0 auto 40px;
            }
        }
        .location{
            .mainIconBg{
                background-image: url("../img/material/circle_green_800.png");
                img{
                    width: 70px;
                    @include positionCenter();
                }
            }
            .transportationIcon{
                width: 45px;
            }
            .route{
                display: flex;
                width: 90%;
                margin: 0 auto 20px;
                .carIcon{
                    height: 35px;
                }
                .busIcon{
                    height: 49px;
                }
                p{
                    margin-left: 20px;
                }
            }
        }

        .tickets{
            .mainIconBg{
                background-image: url("../img/material/circle_yellow_800.png");
                img{
                    width: 80px;
                    @include positionCenter();
                }
            }
            .ticketPrice{
                display: block;
                width: 60%;
                margin: 0 auto;
                li{
                    margin-bottom: 35px;
                }
                p{
                    display: inline;
                }
                .tp{
                    float: right;
                }
            }
        }

        .businessHours{
            .mainIconBg{
                background-image: url("../img/material/circle_red_800.png");
                img{
                    width: 70px;
                    @include positionCenter();
                }
            }
            p{
                text-align: center;
            }
            .startTime{
                &:after{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 70px;
                    background-color: $color_B;
                    margin: 10px auto;
                }
            }
        }
    }
    .viewMore{
        @include roundButton(){
            margin: 60px auto;
        };
        .viewText{
            text-align: center;
            line-height: 154px;
        }
    }
}