.infoTop.container-fluid{
    @include top_block("../img/info/info_top.png");
}

.infoLocation{
    .locTitle{
        margin-top: 80px;
        margin-bottom: 20px;
        position: relative;
        &:after{
            @include titleDecBall("../img/material/circle_green_800.png"){
                left: 149px;
                @include pad{
                    left: 70%;
                }
            };
        }
        @include pad{
            text-align: center;
            margin-top: 40px;
            margin-bottom: 0;
        }
    }
    .infoMap{
        margin-top: 30px;
    }
    .address{
        margin: 50px 0;
        @include pad{
            text-align: center;
            margin: 30px 0;
        }
    }

    .routeInfo{
        display: flex;
        flex-basis: 0;
        padding: 0 30px;
        align-items: center;
        margin-bottom: 30px;
        @include pad{
            padding: 0 15px;
        }
        @include mobile{
            align-items: flex-start;
        }
        .routeIcon{
            @include mobile{
                width: 50px;
            }
        }

        .routeText{
            flex-grow: 1;
            padding-left: 40px;

            .recommendRoute{
                color: $color_G;
            }
            p{
                margin-bottom: 5px;
            }
        }
    }
}

.timenFee{
    margin-top: 80px;
    overflow: hidden;
    @include pad{
        margin-top: 50px;
    }
    .timenFeeTitle{
        position: relative;
        &:after{
            @include titleDecBall("../img/material/circle_yellow_800.png"){
                top: 2px;
                left: -12px;
                @include pad{
                    left: 70%;
                    top: 0px;
                }
            };
        }
        @include pad{
            text-align: center;
        }
    }

    .timenFeeMain{
        display: flex;
        justify-content: center;
        @include pad{
            flex-direction: column;
            align-items: center;
        }
        @include desktop-s{
            overflow: hidden;
        }

        .timenFeeContent{
            margin-top: 80px;
            @include pad{
                margin-top: 50px;
            }
            &:first-child{
                margin-right: 60px;
                @include pad{
                    margin-right: 0;
                }
                @include desktop-s{
                    margin-right: 30px;
                }
            }
            .tnfContentTitle{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                @include pad{
                    margin-bottom: 0px;
                }
                img{
                    height: 68px;
                }
                h5{
                    margin-left: 20px;
                }
            }
            
            .timenFeeText{
                width: 500px;
                height: 500px;
                background-image: url("../img/material/circle_yellow_800.png");
                background-size: contain;
                background-repeat: no-repeat;
                .greenText{
                    color: $color_G;
                }
                @include desktop-s{
                    width: 400px;
                    height: 400px;
                }
            }
            .timeText{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                .lastEntry{
                    margin-top: 50px;
                }
            }

            .feeText{
                padding: 0 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: $color_W;
                }
                .greenText{
                    display: inline-block;
                }
                .fee{
                    float: right;
                }

                .demarcation{
                    display: block;
                    background-color: $color_W;
                    width: 100%;
                    height: 1px;
                    margin: 10px auto;
                }

                .carFee{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .carType{
                        display: block;
                        width: 50%;
                        margin-bottom: 5px;
                    }
                }
                
            }
        }
    }

}
    
.infoRule{
    margin-top: 100px;
    @include pad{
        margin-top: 70px;
        padding: 0 5%;
    }
    @include mobile{
        padding: 0 3%;
    }
    .ruleTitle{
        position: relative;
        margin-bottom: 80px;
        &:after{
            @include titleDecBall("../img/material/circle_red_800.png"){
                top: -20px;
                left: 170px;
                @include pad{
                    left: 60%;
                    top: -50px;
                }
            };
        }
        @include pad{
            text-align: center;
            margin-bottom: 50px;
        }
    }

    .rule{
        margin: 20px 0;
        @include mobile{
            margin: 15px 0;
        }
        &:before{
            content: url("../img/info/red_dot.png");
            margin-right: 20px;
            @include mobile{
                margin-right: 15px;
            }
        }
    }
}