// 外層

.mb_re_wrp{
    width: 900px;
    margin: 0 auto;
   
}



//姓名
.mb_name{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}



.mb_adr{
    display: flex;
    padding-top: 40px;
}

.mb_adr select #city #area{
    border: 1px solid green;
    height: 460px;
    width: 100px;
}




//電話
// .mb_tel input{
//     // width: 700px;
//     height: 24px;
//     border: 1px solid rgba(196, 196, 196, 0.8);
//     border-radius: 4px;
// }
  

//所有input框
.mb_input{
    height: 25px;
    border: 1px solid rgba(196, 196, 196, 0.8);
    border-radius: 4px;
}

//密碼
.mb_pw{
    padding-top: -5px;
    .mb_input{

    }
}

.ch_pw{
    display: inline-block;
}



.lbt{
    display: inline-block;
}

.mb_btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.save_btn{
    margin-top: 45px;
    
    font-size: $fs-s;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    height: 60px;
    display: inline-block;
    color:$color_W;
    background-color:$color_R;
    border: 1px solid $color_R;
    cursor: pointer;
   
}

.ch_pw{
    display: inline-block;
    color: $color_G;
}

.cts{
    padding: 10px;

    .ads{
        border: 1px solid #c4c4c4;
        padding: 3px;
        border-radius: 4px;
        margin: 0 5px;
    }
}


#op_btn{
    color: red;

}