// 外層

.mb_container{
    width: 1200px;
    margin: 0 auto;
    @include mobile {
        width: auto;
    }
}

.mb_re_wrp{
    width: 100%;
    display: flex;
    @include mobile{
        width: 100%;
    
    }
    
   
    }
   


.tit1{
    color: $color_G;
    
}


//姓名
.mb_name{
    margin: 40px auto 10px;
   
    label{
        display: block;
    }
}

.mb_name label p{
    margin: 20px auto;
}


//地址
.mb_adr{
    display: flex;
    margin: 20px auto;
  
}

.mb_adr select #city #area{
    border: 1px solid green;
    height: 460px;
    width: 100px;
    @include mobile {
        display: flex;
    }
}




//電話
.mb_tel{
    margin: 20px auto;
}
  

//所有input框
.mb_input{
    height: 25px;
    border: 1px solid rgba(196, 196, 196, 0.8);
    border-radius: 4px;
    margin-top: 10px;
}

//密碼
.mb_pw{
    margin: 20px auto;
    display: none;
}

.ch_pw{
    display: inline-block;
}



.lbt{
    display: inline-block;
    width: 100px;
}

.mb_btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.save_btn{
    margin-top: 45px;
    
    font-size: $fs-xs;
    border-radius: 8px;
    text-align: center;
    width: 100px;
    height: 50px;
    display: inline-block;
    color:$color_W;
    background-color:$color_R;
    border: 1px solid $color_R;
    cursor: pointer;
   
}


.logout{
    margin-top: 45px;
    font-size: $fs-xs;
    border-radius: 8px;
    text-align: center;
    width: 100px;
    height: 50px;
    display: inline-block;
    color:$color_W;
    background-color:$color_Y;
    border: 1px solid $color_Y;
    cursor: pointer;
   
}



.ch_pw{
    display: inline-block;
    color: $color_G;
}

.cts{
    .ads{
        border: 1px solid #c4c4c4;
        padding: 3px;
        border-radius: 4px;
        margin: 0 5px;
    }
}


#op_btn{
    color: red;

}




//RWD

.t123{
    padding-left: 30%;
    @include mobile {
       padding-left: 10%;
    }
}