.mb_container1{
    @include mobile{
        width: 360px;
    overflow-x:auto ;
    }
}



.mb_cl_wrp{
    margin: 0 auto;
    width: 100%;
    
    @include mobile{

    }
    

}

.cl_list{
    width: 100%;
    color: $color_W;
    // line-height: 60px;
    display: grid;
    grid-template-columns: 100%;
    @include mobile{
        width: 95%;
        overflow-x: auto;
        padding: 0;
        margin: 0 10px;

        &::-webkit-scrollbar-thumb{
            box-shadow: inset 0 0 4px $color_G;
            background-color: $color_G;
            border-radius: 5px;
            height: 2px;
        }
        &::-webkit-scrollbar{
            width: 2px;
            height: 5px;    
            
        }
    }
    
    
    
}

.cl_t{
    display: grid;
    grid-template-columns: 15% 15% 10% 15% 15% 14%;
    text-align: center;
    padding: 16px;
    border: 1px solid green;
    height: 60px;
    background-color: $color_G;
    color: white;
    
    @include mobile{
        width: 250%;
    }
}

.cl_list2{
    background-color: $color_W;
    color: $color_G;
    // line-height: 60px;
    border: 1px solid $color_G;
    display: grid;
    grid-template-columns: 15% 15% 10% 15% 15% 15% 10% 5%;
    text-align: center;
}


.list_bd2{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    color: $color_G;
    line-height: 60px;
}


.cel_list_btn{
    background-color: $color_R;
    // width: 100px;
    border: none;
    color: $color_W;
    cursor: pointer;
    border-radius: 4px;
    
    @include mobile {
        // width: 20px;
        // font-size: 14px;
    }


}

.list_dt{
    display: grid;
    grid-template-columns:  33% 33% 33%;
    padding: 16px;
    border: 1px solid $color_G;
    text-align: center;
    p{
        color: $color_G;
    }
    
    @include mobile{
        width: 250%;
    }
}




