// 外層

.mb_re_wrp{
    width: 900px;
    margin: 0 auto;
   
}


//姓名
.mb_name{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

//地址
.m_address.twzipcode {
    display: flex;
    padding-top: 40px;
    // justify-content: space-between;

}

.m_address.twzipcode select{

   width: 156px;
   height: 46px;
   border: 1px solid rgba(196, 196, 196, 0.8);
   border-radius: 4px;


.m_address.twzipcode input{
    border: 1px solid rgba(196, 196, 196, 0.8);
    height: 46px;
    width: 350px;
    border-radius: 4px;

}
   
    
}


//電話
.mb_tel{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

}
.mb_tel .mb_pw input{
    width: 700px;
    height: 46px;
    border: 1px solid rgba(196, 196, 196, 0.8);
    border-radius: 4px;
}


//密碼
.mb_pw{
    padding-top: 40px;
    display: flex;

}





.mb_btn{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.save_btn{
    margin-top: 45px;
    
    font-size: $fs-s;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    height: 60px;
    display: inline-block;
    color:$color_W;
    background-color:$color_R;
    border: 1px solid $color_R;
    cursor: pointer;
   
}

.ch_pw{
    display: block;
    color: $color_G;
}



