//member首圖



.member_top {
    width: 100%;
    position: relative;
    height: 500px;
    // background-image: url(../../img/activity/member_banner.png);
    background-image: url("../../img/activity/member_banner.png");

    background-repeat: no-repeat;
    background-size: cover;
    @include mobile{
        height: 250px;
    }
}

.memberTitle {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    @include mobile{
        font-size: 24px;
        text-align: center;
    }
}




.member_wp{
    width: 100%;
    
}

 //title

