.body_out{
    overflow: hidden;
    position: relative;
}

.main_min{
    display: flex;
    margin: 0 auto;
}

.redboll{
    position: absolute;
    height: 600px;
    top: 750px;
    right: 30px;
    z-index: -15;
}

.yellowboll{
    position: absolute;
    height: 300px;
    top: 600px;
    left: 280px;
    z-index: -15;
}

.divtop{
    margin-top: 150px;
    height: 130px;
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}

.divtop h3{
    font-size: 48px;
    margin-top: 20px;
    color: $color_G;
}

.divtop pre{
    color: $color_G;
    font-size: 24px;
}

.down{
    display: flex;
}

.left > a{
    font-size: 24px;
    color: $color_G;
    margin-left: 110px;
}

.left a:last-child{
    margin-left: 50px;
}

.left p{
    margin-bottom: 150px;
    font-size: 15px;
    text-align: center;
}

.right{
    display: flex;
    justify-content: center;
}

.right > img{
    max-width: 390px;
    max-height: 254px;
}

@media screen and (max-width:576px){
    
    .divtop{
        margin-top: 30px;
        margin-bottom: 70px;
    }
    
    .right img{
        margin-left: 0px;
        width: 300px;
        height: 200px;
    }

    .redboll{
        height: 280px;
        right: 0px;
    }

    .yellowboll{
            left: 2px;
    }
    .left > a{
        padding-top: 50px;
    }

    .down{
        flex-wrap: wrap;
    }
    
    .down .left{
        order: 2;
    }

    .down .right{
        order: 1;
        
    }

}



@media screen and (max-width:1200px){
    .left > a{
        margin-left: 50px;
    }
}





