.newsTop.container-fluid{
    @include top_block("../img/news/newstop.jpg");
}

.main_out{
    margin: 0 auto;
    height: auto;
}

.maintop{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 220px;
}

.maintop h4{
    position: absolute;
    z-index: -1;
    padding-top: 100px;
    margin: 0;
    margin-left: 40px;
}

.yellow{
    width: 80px;
    position: absolute;
    z-index: -2;
    top: 100px;
    left: 170px;
}

.main_min{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.main_min .min_news{
    width: 400px;
    text-decoration: none;
    margin-top: 20px;
}

.main_min a{
    color: black;
}


.main_min h5{
 margin-bottom: 0;
 margin-top: 10px;
 font-size: 24px;
}  


.down_a{
    display: flex;
    justify-content: flex-end;
    font-size: $fs-s;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}

.down_a a{
    text-decoration: none;
    color:$color_G;
}

.down_a li{
    margin-right: 10px;
}



.min_news > img{
    max-width: 100%;
}

.down_a{
    margin-right: 150px;
    margin-top: 30px;
}

.main_min .a_out{
    width: 500px;
    margin-top: 15px;
}

.a_out .a_in{
    width: 400px;
    margin: 0 auto;
}


@media screen and (max-width:576px){
    .min_news{
        width: 400px;
    }

    .main_min .a_out{
        width: 400px;
    }

    .a_out .a_in{
        width: 300px;
    }
}

@media screen and (max-width:1200px){
    .main_min .a_out{
        width: 400px;
    }
}


