.pd_main {
  margin-bottom: 30px;
  padding-bottom: 10px;

  @media (max-width: 992px) {
    max-width: 100%;
    overflow: hidden;
  }
  
  // *{@include borderTest(blue);}

  //   麵包屑
  .pd_bread {
    font-size: $fs-xs;
    color: #7d7d7d;
    margin-top: 130px;
    margin-bottom: 20px;
    a{
      color: #7d7d7d;
    }

    @include mobile {
      margin-top: 90px;
    }
  }

  .pd_area {
    display: flex;
    // @include borderTest(green);
    @include pad {
      flex-direction: column;
    }

    .pd_pic {
      width: 590px;
      margin:0 30px 0 10px;
      // display: flex;
      // align-items: flex-start;
      flex-wrap: wrap;
      position: relative;
      //   @include borderTest(black);
      //   *{border: 1px solid yellow;}

      img {
        max-width: 100% !important;
        // @include borderTest(blue);
      }

      .splide01{
        position: relative;
        margin-bottom: 10px;
      }

      @media (min-width: 991.98px) and (max-width: 1200px) {
        width: 500px;
      }
      @media (min-width: 767.98px) and (max-width: 992px) {
        margin: 0;
        width: 400px;
      }
      @include pad {
        margin: 0 auto;
        width: 90%;
      }
    
           // 套件區 top_img=================================
           .splide__slide>img {
            max-width: 100%;

          }
          // 強制關閉splidejs導覽dot
          .splide__pagination {
            display: none !important;
            @include pad{
              display: flex;
           }
          }
  
          // 平板版以下強制隱藏
          div#thumbnail-slider1 {
            
            @include pad {
              display: none !important;
            }
          }
          .splide__pagination__page.is-active{
            background: $color_G;
          }

          
  
          // ======================================
    }
  }
}
// }

// 商品資料
.pd_info {
  flex-grow: 1;
  margin: 0 10px 0 20px;

  // @include borderTest;
  //   margin-bottom: 20px;

  #pd_info_name {
    margin-bottom: 30px;
  }
  .pd_info_slog {
    margin-bottom: 20px;
  }
  #pd_info_ingredient {
    height: 200px;
    line-height: $LH-24;
  }
  #pd_info_pricr {
    font-weight: bold;
    margin: 20px 0;

    &::before {
      content: "NT$";
      font-size: $fs-m;
      font-weight: bold;
      @include mobile {
        font-size: $fs-s;
      }
    }
  }
  @include pad {
    margin: 0 auto;
    width: 90%;
  }
}

// 商品數量區
.pd_info_stock {
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-bottom: 70px;

  span{
    font-size: $fs-s;
  }

  @media (max-width: 1200.98px) and (min-width: 768px) {
    flex-direction: column;
    align-items: start;
    h5,.pd_stockCount{
      padding: 5px 0;
    }
  }
}

// 數量BTN
#pd_stockCount {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pd_info_stock:first-child {
  margin-right: 10px;
}

#pd_stockCount ~ h5 {
  margin-left: 10px;
}

@media (max-width:1200px) {
  #pd_stockCount,#pd_stockCount ~ h5{
    margin-left: 0;
  }
}

// +_按鈕
.pd_stockCount_btn {
  background-color: $color_Y;
  color: $color_B;
  border: 1px solid $color_Y;
  font-size: $fs-s;
  line-height: 32px;
  &:active {
    transform: translateY(3px);
  }
  &:hover {
    background-color: $color_R;
    border: 1px solid $color_R;
  }
}

// 數量
#pd_stockCount_input {
  background-color: $color_W;
  border: 1px solid $color_Y;
  font-size: $fs-s;
  height: 36px;
  max-width: 100px;
  text-align: center;

}

// 購買按鈕
.pd_info_btn {
  display: flex;
  flex-direction: column;
}

// 庫存0的時候
#pd_info_noStock{
  height: 100px;
  color: $color_R;  
  border: 1px dotted #ccc;
  display: none;
  flex-direction: column;
  justify-content: center;
  h5{
    text-align: center;
  }
}

#pd_info_cart {
  display: block;
  text-align: center;
  max-width: 386px;
  height: 90px;
  background-color: $color_G;
  color: $color_W;
  font-size: $fs-s;
  line-height: 90px;
  margin-bottom: 18px;
  transition: 1s;
  &:hover {
    background-color: $color_Y;
  }
}

#pd_info_buy {
  display: block;
  text-align: center;
  max-width: 386px;
  height: 90px;
  background-color: $color_R;
  color: $color_W;
  line-height: 90px;
  font-size: $fs-s;
  transition: 1s;
  &:hover {
    background-color: $color_Y;
  }
}

@include pad {
  .pd_info_stock {
    flex-direction: column;
    align-items: start;

    #pd_stockCount {
      margin: 0;
    }
    #pd_stockCount ~ h5 {
      margin-left: 0px;
    }
  }
  #pd_info_cart,
  #pd_info_buy {
    max-width: 100%;
  }
}

// 商品描述==============================
.pd_intro_h3 {
  color: $color_B;
  font-weight: bold;
  text-align: center;
}

.intro_area {
  // 區塊================
  
  .pd_intro {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    // border: 2px solid #ccc;
    border-radius: 8px;
    // padding: 25px;

    &:nth-child(even)  P{
      order:-1;
    }
    @media (max-width:992.98px) {
      &:nth-child(even)  P{
        order:0;
      }
    }

    .pd_intro_pic {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      width: 400px;
      height: auto;
      border: 1px solid #ccc;
      border-radius: 50%;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      margin: 15px;
      @include mobile{
        width: 90%;
        height: auto;
      }

      img {
        max-width: 105%;
        max-height: 105%;

      }
    }
    p {
      width: 400px;
      max-width: 100%;
      height: 88px;
      margin: 15px;
      padding: 10px;
      font-size: $fs-s;
      resize: none;
    }
  }
  @media (max-width: 992.98px) and (min-width: 768px) {
    .pd_intro {
      width: 600px;
      flex-direction: column;
      justify-content: center;
      
      p {
        text-align: center;
      }
    }
  }
  @include pad {
    .pd_intro {
      width: 100%;
      flex-direction: column;
      justify-content: center;

      p {
        height: auto;
        font-size: $fs-xs;
        text-align: center;
      }
    }
  }
}

// 水平線hr
.pd__hr {
  width: 95%;
  border: 1px solid #ccc;
  margin: 30px auto;
}

//推薦區===================================
.pd_recommend_h3 {
  text-align: center;
  margin: 125px auto 0;
  @include pad {
    margin: 50px auto;
  }
}

.pd_recommend {
  margin: 20px auto;
  position: relative;
  max-width: 100%;
  // *{    @include borderTest}
  @media (max-width: 992.98px) {
    
    margin:20px 0;
  }


  // 套件用的 推薦img=======================
  .splide02-track{
    @media (max-width: 992.98px){
      max-width: 100%;
    }
  }

  .splide__arrows,.splide__pagination{
    display: none !important;
    @media (max-width:992.98px) {
      display: flex !important;

    }
  }
  .splide__pagination__page.is-active{
    background: $color_G;
  }

  .splide__pagination li{
    transform: translateY(30px);
  }


    @media (max-width: 992.98px) and (min-width: 768px){
      .splide__arrows .splide__arrow.splide__arrow--prev{
        left: 5%;
        width: 3em;
        height: 3em;
          }
        
          .splide__arrows .splide__arrow.splide__arrow--next{
        right: 0%;
        width: 3em;
        height: 3em;

      }
    }

    .splide__track{
      overflow: unset;
    }
  
  // ================================
}

@keyframes slide-top {
  0% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(-3%);
  }
}

.pd_recommend_list {
  max-width: 100%;
  display: flex;
  flex-shrink: 1;
  // @include borderTest(green);
  // @include borderTest;
  @media (min-width:768px) and (max-width:992px){
    // margin: 20px;
    
  }
  @include pad {

    display: flex;
    position: relative;
    // overflow: hidden;
    // #splide02-slide02{
    //   margin: 0 20px;
    // }
  }

  li {
    
    margin: 50px 25px 50px;
    background-color: $color_W;
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.2);
    border-radius: 5px;
    transition: 0.5s;
    // @include borderTest(blue);

    @include pad{
      max-width: 100%;
      margin: 0px;
    }
    @media (min-width:768px) {
          &:hover {
      -webkit-animation: slide-top 0.5s ease-out infinite alternate;
      animation: slide-top 0.5s ease-out infinite alternate;
    }
    @media (min-width:768px) and (max-width:992px){
      max-width: 100%;
      margin: 50px 20px 50px;
    }

    }

    a {
      max-width: 100%;
      text-align: center;
      margin: 0;
      display: block;

      img {
        border-radius: 5px;
        max-width: 100%;
        // @include borderTest;
      }
      p {
        display: inline-block;
        font-size: $fs-s;
        line-height: $LH-24;
        margin-bottom: 5px;
      }
    }
  }
}

.pd_recommend_list a {
  color: $color_B;
}

.pd_recommend_text {
  max-width: 100%;
  padding: 20px;
  text-align: left;
}

//品名最大10字
.pd_recommend_name {
  text-align: left;
}
.pd_recommend_price {
  float: right;
}

@media (max-width:992px) {
  .pd_recommend_name {
    margin-left: 30px;
  }
  .pd_recommend_price {
    margin-right: 30px;
  }
}

.pd_recommend_price::before {
  content: "NT$";
  font-size: $fs-s;
}

@include mobile{
  .pd_recommend_list .pd_recommend_text p{
    font-size: $fs-xs;
    line-height: 1.2;
    margin-bottom: 0px;
  }

  .pd_recommend_price::before {
     font-size: $fs-xs;
  }
  .pd_recommend_name {
    margin-left: 10px;
  }
  .pd_recommend_price {
    margin-right: 10px;
  }
  .pd_recommend_text{
    padding: 20px 0;
  }
}