.checkout_article{
    position: absolute;
    top: 30px;
    .container {
        width: 100%;
        .step li {
            list-style-type: none;
            float:left;
            width: 33.33%;
            position:relative;
        }
    }
}