.b_aside{
    background-color: $color_G;
    width: 20%;
    height: 100vh;
    align-items: center;
    position: fixed;
    top: 0;
    // @include borderTest(); //測試線
    
    
    .aside_logo{
        width: 185px;
        margin: 60px auto;
    }
    .aside_ul{
        list-style: none;
        width: 100%;
        padding: 0;
        @include textCenter();
    }
    .aside_ul > li{
        font-size: $fs-s;
        margin: 30px auto;
        width: 100%;
    }
    .aside_ul > li  a{
        text-decoration: none;
        display: block;
        color: $color_B;
        padding: 20px 0;
    }
    .aside_ul > li  a:hover{
        background-color: $color_Y ;
        color: $color_W;
    }
