aside{
    background-color: $color_G;
    // width: 20%;
    // height: 100vh;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    @include borderTest(); //測試線
    .logo{
        width: 185px;
        margin: 60px auto;
    }
    ul{
        list-style: none;
        width: 100%;
        padding: 0;
        @include textCenter();
    }
    li{
        font-size: $fs-s;
        margin: 30px auto;
        width: 100%;
    }
    li > a{
        text-decoration: none;
        display: block;
        color: $color_B;
        padding: 20px 0;
    }
    li > a:hover{
        background-color: $color_Y ;
        color: $color_W;
    }
}