.b_aside{
    background-color: $color_G;
    width: 20%;
    height: 100vh;
    align-items: center;
    position: fixed;
    z-index: 800;
    top: 0;
    // @include borderTest(); //測試線
    @include textCenter();
    
    .asideLogo{
        width: 185px;
        margin: 50px auto 10px;
    }
    .aside_ul{
        list-style: none;
        width: 100%;
        padding: 0;
        @include textCenter();
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        li{
            width: 100%;

            a{
                text-decoration: none;
                display: block;
                color: $color_B;
                padding: 20px 0;
                h5{
                    line-height: 1;
                    display: inline;
                }
            }
            a.-on{
                color: $color_W;
            }
            a:hover{
                background-color: $color_W ;
                color: $color_Y;
            }
        }
    }
    .signOut{
        display: block;
        padding: 20px 0;

        h5{
            display: inline-block;
        }
        
        &::after{
            content:url('');
            background-image: url('../img/icon/logout.png');
            background-size: 25px 25px;
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-left: 15px;
        }
        &:hover{
            background-color: $color_W;
            color: $color_R;

            &::after{
                background-image: url('../img/icon/logout_R.png');
            }
        }
    }
}