.frontFooter{
    position: relative;
    width: 100%;

    // .footersvg{
    //     color: $color_B;
    //     position: absolute;
    //     top: -50px;
    //     left: 0;
    // }

    // .tree1{
    //     width: 90px;
    // }

    // .tree2{
    //     width: 66px;
    // }

    // .cow1{
    //     width: 183px;
    //     top: -100px;
    //     left: 0;
    // }

    // .cow2{
    //     width: 140px;
    // }

    // .footerdec{
    //     position: absolute;
    //     @include borderTest();
    // }

    // .hilltop{
    //     width: 100%;
    //     display: block;
    // }

    .ftop{
        width: 100%;
        display: block;
        margin-top: 100px;
    }

    .footerbg{
        width: 100%;
        // height: 300px;
        background-color: $color_G;

        
        .footermain{
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include pad(){
                flex-direction: column;
    
            }

            .footerLogo{
                flex-grow: 1.2;
                flex-basis: 0;

                img{
                    width: 230px;
                    @include mobile(){
                        width: 150px;
                    }
                }

                @include pad(){
                    order: 1;
                }
            }

            .footerInfo{
                flex-grow: 1;
                flex-basis: 0;

                @include pad(){
                    order: 3;
                }

                p{
                    margin-bottom: 5px;
                    color: $color_W;

                    @include pad(){
                        text-align: center;
                        margin-top: 15px;
                    }
                }
            }
    
            .socialMediaIcons{
                // width: 50px;
                display: flex;
                flex-basis: 0;
                justify-content: space-evenly;
                flex-grow: 0.8;
                
                @include pad(){
                    order: 2;
                    margin-top: 20px;
                }

                .footerIcon{
                    width: 45px;
                    transition: .5s;
                    &:hover{
                        opacity: .7;
                    }

                    @include pad(){
                        margin: 0 10px;
                    }
                }

            }
            
        }
        .tibameMessage{
            @include textCenter();
            color: $color_W;
            margin-top: 90px;
            padding-bottom: 50px;

            @include pad(){
                margin-top: 30px;
            }
        }
    }
}