.frontHeader{
    background-color: $color_W;
    position: fixed;
    z-index: 950;
    width: 100%;
    top: 0px;
    box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.1);

    .main_sel{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .headerLogo{
            width: 200px;
            
            @include mobile{
                width: 150px;
            }
        }

        .navRight{
            display: flex;
            align-items: center;

            .head-icon{
                margin-right: 20px;
                color: $color_G;
                // border: 1px solid red;

                @include mobile{
                    margin-right: 10px;
                }

                .cartIcon{
                    font-size: 34px;
                    // margin-bottom: 2px;
                    // border: 1px solid blue;
                    display: block;
                    transition: .5s;
                    position: relative;
                    &:after{
                        content: '';
                        display: block;
                        width: 30px;
                        height: 6px;
                    }
                    &:hover{
                        color: $color_Y;
                    }

                    &:hover .cartCount{
                        background-color: $color_Y;
                    }
                }

                .cartCount{
                    // border: 1px solid red;
                    width: 15px;
                    height: 15px;
                    font-size: 12px;
                    text-align: center;
                    font-family: "Noto Sans Traditional Chinese";
                    line-height: 15px;
                    display: block;
                    background-color: $color_R;
                    color: $color_W;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-43%, -75%);
                    border-radius: 50%;
                    transition: .5s;
                }
                //======= 購物車明細 =======
                .blackBg{
                    width: 100%;
                    height: 100%;   
                }
                .shoppingCar{
                    @include positionCenter();
                    width: 970px;
                }
                .carTitle{
                    background-color: $color_Y;
                    font-size: $fs-l;
                    color: $color_W;
                    width: 970px;

                }
                .carTitle > ul{
                    display: flex;
                }
                //===================================
                .memberIcon{
                    font-size: 36px;
                    margin-top: 3px;
                    // border: 1px solid blue;
                    transition: .5s;
                    &:hover{
                        color: $color_Y;
                    }
                }
            }

            .ham_btn{
                cursor: pointer;
                .ham_line_1, .ham_line_2, .ham_line_3{
                    content: "";
                    background-color: $color_G;
                    display: block;
                    width: 35px;
                    height: 4px;
                    border-radius: 3px;
                    margin: 8px 0;
                    transition: .5s;
                    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    
                }
                
                .ham_line_1.-on{
                    transform: translateY(12px) rotate(135deg);
                }
                
                .ham_line_2.-on{
                    transform: scale(0);
                }
                
                .ham_line_3.-on{
                    transform: translateY(-12px) rotate(-135deg);
                }
            }

            
        }       
        .hamSel{
            background-color: $color_W;
            width: 100%;
            position: fixed;
            top: 70px;
            left: 0;
            z-index: 900;
            transform: translateY(-120%);
            transition: .6s;
            opacity: 0;

            @include mobile{
                height: calc(100vh - 70px);
            }
    
            .hamMenu{
                display: flex;
                justify-content: space-evenly;

                @include mobile{
                    flex-wrap: wrap;
                }
    
                .hamMenuItem{
                    margin: 40px 0;

                    @include mobile{
                        margin: 10px 20px;
                        max-width: 33%;
                    }


                    &:hover .iconContainer{
                    background-color: $color_Y;
                    }
    
                .iconContainer{
                    width: 120px;
                    height: 120px;
                    border: 1px solid $color_G;
                    border-radius: 50%;
                    position: relative;
                    transition: .5s;

                    @include pad{
                        width: 100px;
                        height: 100px;
                    }

                    .menuIcon{
                        max-height: 33%;
                        @include positionCenter();

                        @include mobile{
                            max-height: 40px;
                        }
                    }
                }

                
    
                .menuTitle{
                    text-align: center;
                    color: $color_B;
                    margin-top: 20px;

                    @include pad{
                        font-size: 20px;
                    }

                    @include mobile{
                        margin-top: 8px;
                        font-size: $fs-xs;
                    }
                }
                }
            }
        }
    
        .hamSel.-on{
            display: block;
            transform: translateY(0%);
            opacity: 1;
        
            @include mobile{
                display: flex;
                align-items: center;
            }
        }
    }

    .hamMask{
        background-color: rgba(51, 51, 51, 0);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 72px;
        left: 0;
        z-index: 700;
        opacity: 0;
        transition: .6s;
        display: none;
    }

    .hamMask.-on{
        backdrop-filter: blur(2px);
        background-color: rgba(51, 51, 51, 0.1);
        opacity: 1;
        // display: block;
    }
}
.blackBg{
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, .2); 
    position: fixed; 
    top: 0; 
    z-index: 1000;

    .shoppingCar{
       width: 950px;
       position: absolute;
       top: 30%;
       left: 50%;
       transform: translate(-30%);
       
       .carTitle{
        border: 1px solid $color_Y;
        background-color: $color_Y;
        color: $color_W;
        @include textCenter();
       }
       .carBar{
           display: flex;
           justify-content: space-around;
           background-color: $color_W;
           border-bottom: 1px solid $color_B;
           padding: 30px;
       }
    }
}
