div#back_bg {
  background-color: rgba(45, 45, 45, 0.5);
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;

  #login_box {
    margin: 20px auto;
    background-color: $color_W;
    border-radius: 5px;
    width: 50%;
    min-width: 840px;
    display: flex;
    z-index: 1001;
    position: relative;
    @media (max-width: 840.98px) {
      min-width: 90%;
    }

    .shikaBlock {
      max-width: 326px;
      height: 596px;
      background-image: url(../../img/material/login_block.jpg);
      background-repeat: no-repeat;
      background-position: 0 0;
      display: flex;

      h1 {
        padding-top: 200px;
        margin: 0 25px;
        flex-grow: 1;

        img {
          width: 274px;
        }
      }

      @media (max-width: 840.98px) {
        display: none;
      }
    }
    .loginBlock {
      margin: 40px auto;

      #login_form {
        width: 325px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        // @include borderTest;
        @media (max-width: 840.98px) {
          width: auto;
        }

        h4 {
          margin-bottom: 20px;
        }

        input {
          padding: 10px 20px;
          width: 100%;
          height: 50px;
          background-color: #ededed;
          border-radius: 5px;
          margin-bottom: 5px;
          border: 1px solid #c4c4c4;
          font-size: $fs-xs;
          &:focus {
            border: 1px solid $color_G;
          }
        }

        .forget {
          margin-top: 10px;
          margin-bottom: 25px;
          align-self: flex-end;
          color: $color_B;
          transition: 0.5s;
          &:hover {
            color: $color_G;
          }
        }
        #login_btn {
          @include buttonSet;
          width: 100%;
          border-radius: 5px;
          height: 50px;
          font-size: $fs-xs;
          margin-bottom: 15px;
          cursor: pointer;
        }
        #FBlogin_btn {
          @include buttonSet(#4267b2, $color_W, #4267b2);
          width: 100%;
          border-radius: 5px;
          height: 50px;
          font-size: $fs-xs;
          margin-bottom: 15px;
          cursor: pointer;
        }
        .register {
          align-self: center;
          color: $color_B;
          transition: 0.5s;
          &:hover {
            color: $color_G;
          }
        }
        // 繼續的按鈕
        #next {
          margin-top: 75px;
          @include buttonSet;
          width: 100%;
          border-radius: 5px;
          height: 50px;
          font-size: $fs-xs;
          cursor: pointer;
        }
      }
      .bi-x {
        font-size: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}


// 註冊填資料

#register_from{
    margin: 0 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    // @include borderTest;
    @media (max-width: 840.98px) {
      width: auto;
    }

    h4 {
        margin: 0 auto;
      margin-bottom: 20px;
    }

    input {
      padding: 10px 20px;
      width: 100%;
      height: 50px;
      background-color: #ededed;
      border-radius: 5px;
      border: 1px solid #c4c4c4;
      font-size: $fs-xs;
      margin-bottom: 10px;

    }
    select{
        font-size: $fs-xs;
        width: 219px;
      height: 50px;
      background-color: #ededed;
      border-radius: 5px;
      border: 1px solid #c4c4c4;
      margin-bottom: 5px;
      @media (max-width: 840.98px){
          width: 100%;
      }

    }

    #zipcode{
        display: none;
    }

    #county{
        margin-right: 10px;
    }

    #next,#register_complete {
        margin-top: 20px;
        @include buttonSet;
        width: 100%;
        border-radius: 5px;
        height: 50px;
        font-size: $fs-xs;
        cursor: pointer;

        @media (max-width: 840.98px) {
            margin-top: 0;
        }
      }

      p{
          margin: 0 auto;
      }
      img{
          width: 195px;
          margin: 40px auto;
      }

}