//member首圖

.member_top{
    position: relative;
   }
   .member_top img{
       display: block;
       margin: 0 auto;
   }
   
   .memberTitle{
       text-align: center;
       display: block;
       position: absolute; 
       top: 50%; 
       left: 50%; 
       transform: translate(-50%, -50%); 
       color: $color_W;
        }


//tab bar 

.mem_tab{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
    justify-content: center; 
    margin-top: 20px;
    @include pad{
        width: 200px;
        
    }
    @include mobile{
        width: 100px;
        
    }
    
    
}

.mem_btn{
    color: white;
    background-color:$color_G;
    width: 300px;
    height: 64px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    @include pad{
        width: 100px;
        font-size: 16px;
        
    }
    @include mobile{
        width: 60px;
        font-size: 14px;
        
    }
    
    
}

//hover

.mem_tab .on{
    color: white;
    background-color:$color_Y;
    width: 300px;
    height: 64px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    margin: 0 auto;
    cursor: pointer; 
}