//tab 切換按鈕

//外框
.mem_tab {
    display: flex;
    margin: 40px ;
    justify-content: center; 
    align-items: center; 
    @include mobile {
       
    }
}


//預設按鈕
.mem_btn {
    color: white;
    background-color: $color_G;
    width: 20%;
    height: 64px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    margin:0 6%;
    cursor: pointer;

    @include mobile {
        width: 80%;
     }

    &.on {
        background-color: $color_Y;
        @include mobile {
           width: 70;
        }

        
    }


}

//當前頁面按鈕