<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html', {
    "title" : "Sìkha 牧場 | Sìkha 動物"
    })
</head>

<body>
    <!-- header -->
    @@include('./layout/header.html')

    <!-- 首圖 -->
    <div class="activityTop container-fluid">
        <h3 class="pageTitle">牧場節目</h3>
    </div>


    <div id="app">
        <!-- 3D slider -->
        <div class="checkList">
            <section id="slider">
                <input class="slider" type="radio" name="slider" id="s1" checked>
                <input class="slider" type="radio" name="slider" id="s2">
                <input class="slider" type="radio" name="slider" id="s3">
                <input class="slider" type="radio" name="slider" id="s4">
                <input class="slider" type="radio" name="slider" id="s5">
                <input class="slider" type="radio" name="slider" id="s6">

                <label @click="activeIndex=0" for="s1" id="slide1"><img src="./img/activity/sheep 2.png" alt=""></label>
                <label @click="activeIndex=1" for="s2" id="slide2"><img src="./img/activity/deer 2.png" alt=""></label>
                <label @click="activeIndex=2" for="s3" id="slide3"><img src="./img/activity/alpaca 2.png"
                        alt=""></label>
                <label @click="activeIndex=3" for="s4" id="slide4"><img src="./img/activity/cow 2.png" alt=""></label>
                <label @click="activeIndex=4" for="s5" id="slide5"><img src="./img/activity/pig 2.png" alt=""></label>
                <label @click="activeIndex=5" for="s6" id="slide6"><img src="./img/activity/horse 2.png" alt=""></label>
            </section>
        </div>

        <!-- 預約彈窗 -->
        <div class="black_bg" v-if="modal_open !== null" @click="close()"></div>
        <div class="modal" v-if="modal_open !== null">
            <div class="x_icon_position">
                <button type="button" class="hamburger_icon" @click="close()">
                    <span class="-hr -top"></span>
                    <span class="-hr -bottom"></span>
                </button>
            </div>
            <input class="modal_date" id="date" type="date"><br><br>
            <template v-for="(item2,key) in modal_open.time_period">
                <input type="radio" :id="period+key" name="period"><label :for="period+key"> {{item2}}</label><br>
            </template>

            預約人數： <input type="number" name="quantity" min="1" max="10"> 人</br>
            剩餘人數： {{modal_open.remain}} 人</br><br>
            <button class="modal_button">我要預約</button><br><br>
            <img class="modal_img" src="./img/activity/horse1.png" alt="">
        </div>

        <!--小遊戲按鈕-->

        <div class="game"><a href="./game.html">
                <img src="./img/activity/game_entrance.png" alt="">
                <h5>線上體驗</h5>
            </a></div>

        <!-- 點擊展開item區域 -->
        <section class="odd_item" v-for="(aaa,key) in all_data[activeIndex].list">

            <div class="item">
                <div class="item_imgcover">
                    <img class="item_img" :src="aaa.image" alt="">
                    <div class="item_r_cover">
                        <img @click="open(aaa)" class="item_img_icon" :src="aaa.icon_img" alt="">
                        <button v-if='aaa.time_period' class="reserve" :class="'-index'+ activeIndex"
                            :style="{'background': all_data[activeIndex].button_bg}" @click="open(aaa)">點我預約</button>
                    </div>
                </div>
                <div class="item_p">
                    <h5 class="item_title">{{aaa.title}}</h5>
                    <p class="item_desc">{{aaa.desc}}</p>
                    <br>
                </div>
            </div>
        </section>
    </div>

    <!-- footer -->
    @@include('./layout/footer.html')
    <script src="js/activity.js"></script>
</body>

</html>