<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    @@include('./layout/back_head.html', {
        "title" : "Sìkha 後台 | 活動內容"
    })
</head>
<body>
    <!-- 側邊導覽列 -->  
    @@include('./layout/back_aside.html')
    <main class="backcontainer">
        <main class="act-detail-container">
            @@include('./layout/back_title.html', {
                "back_title" : "修改活動"
                })
            
                <form class="activity-detail" id="a_detail">
                    <div class="img-area">
                        <label for="p_file" class="btn-red choose-file" style="font-size: 18px;">選擇檔案</label>
                        <span class="filename">{{filename}}</span>
                        <input type="file" id="p_file" style="display: none;" @change="fileSelected">
                        <div class="preview" id="drop_zone" @dragover="dragover" @dragleave="dragleave" @drop="drop">
                            <img v-if="activity[0].IMG" :src="activity[0].IMG" class="preview-img">
                        </div>
                    </div>
                    <div class="margintop_30">
                        <h5>活動名稱</h5>
                        <input type="text" name="name" required v-model="activity[0].NAME">
                    </div>
                    <div class="oneline margintop_25">
                        <label>人數上限</label>
                        <input type="number" required oninput="if(value<1)value=1" v-model="activity[0].OPACITY" name="opacity">
                    </div>
                    <div class="oneline margintop_25">
                        <label>時間長度</label>
                        <input type="radio" id="30" name="time" value="30" v-model="activity[0].TIME">
                        <label for="30">30分鐘</label>
                        <input type="radio" id="60" name="time" value="60" v-model="activity[0].TIME">
                        <label for="60">60分鐘</label>
                        <input type="radio" id="90" name="time" value="90" v-model="activity[0].TIME">
                        <label for="90">90分鐘</label>
                    </div>
                    <div class="oneline margintop_30">
                        <label for="">場次一時間</label>
                        <input type="time" class="time-start" required v-model="activity[0].S1_START" v-on:input="getEndTime">
                        <h5 class="tilde">~</h5>
                        <input type="time" class="time-end" readonly v-model="activity[0].S1_END">
                    </div>
                    <div class="oneline margintop_25">
                        <label for="">場次二時間</label>
                        <input type="time" class="time-start" required v-model="activity[0].S2_START" v-on:input="getEndTime">
                        <h5 class="tilde">~</h5>
                        <input type="time" class="time-end" readonly v-model="activity[0].S2_END">
                    </div>
                    <div class="oneline margintop_25">
                        <label for="">場次三時間</label>
                        <input type="time" class="time-start" required v-model="activity[0].S3_START" v-on:input="getEndTime">
                        <h5 class="tilde">~</h5>
                        <input type="time" class="time-end" readonly v-model="activity[0].S3_END">
                    </div>
                    <div class="margintop_25">
                        <h5>活動介紹</h5>
                        <textarea rows="10" cols="50" required v-model="activity[0].DESC"></textarea>
                    </div>
                    <div class="margintop_25">
                        <label>動物分類</label>
                        <input type="radio" name="catergory" id="cow" value="4" v-model="activity[0].CATEGORY_ID">
                        <label for="cow">牛</label>
                        <input type="radio" name="catergory" id="sheep" value="1" v-model="activity[0].CATEGORY_ID">
                        <label for="sheep">羊</label>
                        <input type="radio" name="catergory" id="deer" value="2" v-model="activity[0].CATEGORY_ID">
                        <label for="deer">鹿</label>
                        <input type="radio" name="catergory" id="pig" value="5" v-model="activity[0].CATEGORY_ID">
                        <label for="pig">豬</label>
                        <input type="radio" name="catergory" id="horse" value="6" v-model="activity[0].CATEGORY_ID">
                        <label for="horse">馬</label>
                        <input type="radio" name="catergory" id="alpaca" value="3" v-model="activity[0].CATEGORY_ID">
                        <label for="alpaca">草泥馬</label>
                    </div>
    
                    <div class="onoroff">
                        <span class="state">上架</span>
                        <label class="switch">
                            <input type="checkbox" checked class="show-switch-btn" v-model="stateCheck" @change="switchOnOff">
                            <span class="slider round"></span>
                        </label>
                        
                    </div>
    
                    <div class="buttons">
                        <button type="button" class="btn-green" @click="confirmModify">儲存</button>
                        <button type="button" class="btn-border" @click="cancel">取消</button>
                    </div>
                    
    
                </form>

        

            <p class="tibameMessage margintop_50">本網站為緯育TibaMe前端設計工程師班第74期第六組學員專題成果作品，本平台僅供學習、展示之用。</p>
        </main>    
    </main>

    <script src="js/back_activity_modify.js"></script>
</body>
</html>