<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    @@include('./layout/back_head.html', {
        "title" : "Sìkha 後台 | 活動內容"
    })
</head>
<body>
    <!-- 側邊導覽列 -->  
    @@include('./layout/back_aside.html')
    <div class="backcontainer">
        <main class="act-detail-container">
            @@include('./layout/back_title.html', {
                "back_title" : "活動內容"
                })
            
                <form class="activity-detail" id="activity-add-app">
                    <div class="img-area">
                        <label for="p_file" class="btn-red choose-file" style="font-size: 18px;">選擇檔案</label>
                        <span class="filename">尚未選擇檔案</span>
                        <input type="file" id="p_file" style="display: none;" @change="fileSelected">
                        <div class="preview" id="drop_zone" @dragover="dragover" @dragleave="dragleave" @drop="drop"><img v-if="img" :src="img" class="preview-img"><span class="text">圖片拖曳至此處</span></div>
                    </div>
                    <div class="margintop_30">
                        <h5>活動名稱</h5>
                        <input type="text" name="name" id="name" v-model="name" required>
                    </div>
                    <div class="oneline margintop_25">
                        <label>人數上限</label>
                        <input type="number" required oninput="if(value<1)value=1" name="opacity" id="opacity" v-model="opacity">
                    </div>
                    <div class="oneline margintop_25">
                        <label>時間長度</label>
                        <input type="radio" id="30" name="time" value="30" v-model="time">
                        <label for="30">30分鐘</label>
                        <input type="radio" id="60" name="time" value="60" v-model="time">
                        <label for="60">60分鐘</label>
                        <input type="radio" id="90" name="time" value="90" v-model="time">
                        <label for="90">90分鐘</label>
                    </div>
                    <div class="oneline margintop_30">
                        <label for="">場次一時間</label>
                        <input type="time" class="time-start" required name="s1_start" v-model="s1_start" v-on:input="getEndTime">
                        <h5 class="tilde">~</h5>
                        <input type="time" class="time-end" readonly name="s1_end" v-model="s1_end">
                    </div>
                    <div class="oneline margintop_25">
                        <label for="">場次二時間</label>
                        <input type="time" class="time-start" required name="s2_start" v-model="s2_start" v-on:input="getEndTime">
                        <h5 class="tilde">~</h5>
                        <input type="time" class="time-end" readonly name="s2_end" v-model="s2_end">
                    </div>
                    <div class="oneline margintop_25">
                        <label for="">場次三時間</label>
                        <input type="time" class="time-start" required name="s3_start" v-model="s3_start" v-on:input="getEndTime">
                        <h5 class="tilde">~</h5>
                        <input type="time" class="time-end" readonly name="s3_end" v-model="s3_end">
                    </div>
                    <div class="margintop_25">
                        <h5>活動介紹</h5>
                        <textarea rows="10" cols="50" v-model="desc" required></textarea>
                    </div>
    
                    <div class="margintop_25">
                        <label>動物分類</label>
                        <input type="radio" name="catergory" id="cow" value="cow" v-model="category">
                        <label for="cow">牛</label>
                        <input type="radio" name="catergory" id="sheep" value="sheep" v-model="category">
                        <label for="sheep">羊</label>
                        <input type="radio" name="catergory" id="deer" value="deer" v-model="category">
                        <label for="deer">鹿</label>
                        <input type="radio" name="catergory" id="pig" value="pig" v-model="category">
                        <label for="pig">豬</label>
                        <input type="radio" name="catergory" id="horse" value="horse" v-model="category">
                        <label for="horse">馬</label>
                        <input type="radio" name="catergory" id="alpaca" value="alpaca" v-model="category">
                        <label for="alpaca">草泥馬</label>
                    </div>
                    <!-- <div class="oneline margintop_30">
                        <label for="">上架時間</label>
                        <input type="date" id="on_date" required>
                        <input type="time" value="23:59" id="on_time">
                    </div>
                    <div class="oneline margintop_25">
                        <label for="">下架時間</label>
                        <input type="date" id="off_date">
                        <input type="time" value="23:59" id="off_time">
                    </div> -->
    
                    <div class="onoroff">
                        <span class="state">上架</span>
                        <label class="switch">
                            <input type="checkbox" checked class="show-switch-btn" v-model="state">
                            <span class="slider round"></span>
                        </label>
                        
                    </div>
    
                    <div class="buttons">
                        <button type="button" class="btn-green" id="add_activity" @click="addActivity">確認</button>
                        <a href="back_activity.html"><button type="button" class="btn-border">取消</button></a>
                    </div>
                    <div id="msg" class="error"></div>
                    
    
                </form>

        

            <p class="tibameMessage margintop_50">本網站為緯育TibaMe前端設計工程師班第74期第六組學員專題成果作品，本平台僅供學習、展示之用。</p>
        </main>
    </div>

    <script src="js/back_activity_add.js"></script>
</body>
</html>