<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    @@include('layout/back_head.html', {
    "title" : "Sìkha 後台 | 訂單內容"
    })

</head>

<body>

    <!-- 側邊導覽列 -->
    @@include('./layout/back_aside.html')
    <!-- 後台訂單列表 -->
    <main class="backcontainer order-container order-detail">
        @@include('./layout/back_title.html', {
        "back_title" : "訂單內容"
        })
        <div id="app">
            <div>
                <section class="order-info">
                    <p class="title">訂單商品</p>
                    <ul class="content">
                        <li class="head">
                            <p>商品照片</p>
                            <p>商品名稱</p>
                            <p>價格</p>
                            <p>數量</p>
                            <!-- <p>小計</p> -->
                        </li>
                        <li v-for="orderDetail in orderDetails" class="product">
                            <p><img :src="orderDetail.MAIN_PIC" alt=""></p>
                            <p>{{orderDetail.NAME}}</p>
                            <p>{{orderDetail.UNIT_PRICE}}</p>
                            <p>{{orderDetail.QUANTITY}}</p>
                            <!-- <p>{{orderDetail.UNIT_PRICE}}*{{orderDetail.QUANTITY}}</p> -->
                        </li>
                    </ul>
                </section>
            </div>

            <div v-for="orderDetail in orderDetails" v-if="orderDetail.ORDER_ID">
                <section class="order-info">
                    <p class="title">訂單資料</p>
                    <div class="content info">
                        <p>訂單編號：{{orderDetail.ORDER_ID}}</p>
                        <p>成立日期：{{orderDetail.ORDER_DATE}}</p>
                        <p>消費金額：NT${{orderDetail.TOTAL}}</p>
                        <p>付款狀態：{{orderDetail.PAYMENT_STATE}}</p>
                        <p>付款方式：{{orderDetail.PAYMENT}}</p>
                        <p>訂購人：{{orderDetail.RECEIVER_NAME}}</p>
                        <p>會員帳號：{{orderDetail.EMAIL}}</p>
                        <p>收件地址：{{orderDetail.COUNTRY}}{{orderDetail.DISTRICT}}{{orderDetail.STREET}}</p>
                        <!-- <p>物流編號：000001331</p> 資料庫沒有這個值 -->
                        <p>物流狀態：{{orderDetail.LOGISTICS_STATE}}</p>
                    </div>

                </section>
            </div>



            <a href="./back_order.html" class="btn-green">返回</a>

            <p class="tibameMessage">本網站為緯育TibaMe前端設計工程師班第72期第二組學員專題成果作品，本平台僅供學習、展示之用。</p>

    </main>

    <script src="js/back_order_detail.js"></script>
</body>

</html>