<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    @@include('./layout/back_head.html', {
        "title" : "Sìkha 後台 | 活動內容"
    })
</head>
<body>
    <!-- 側邊導覽列 -->  
    @@include('./layout/back_aside.html')
    <main class="backcontainer">
        <main class="act-detail-container">
            @@include('./layout/back_title.html', {
                "back_title" : "修改活動"
                })
            
            <form class="activity-detail" id="a_detail">
                <div class="img-area">
                    <input type="file" id="p_file">
                    <div class="preview" id="drop_zone">
                        <img :src="activity.img" alt="">
                    </div>
                </div>
                <div class="margintop_30">
                    <h5>活動名稱</h5>
                    <input type="text" name="name" required :value="activity.name">
                </div>
                <div class="oneline margintop_25">
                    <label>人數上限</label>
                    <input type="number" required oninput="if(value<1)value=1" v-model="activity.capacity">
                </div>
                <div class="oneline margintop_25">
                    <label>時間長度</label>
                    <input type="radio" id="30" name="time" v-model="selected" value="30">
                    <label for="30">30分鐘</label>
                    <input type="radio" id="60" name="time" v-model="selected" value="60">
                    <label for="60">60分鐘</label>
                    <input type="radio" id="90" name="time" v-model="selected" value="90">
                    <label for="90">90分鐘</label>
                </div>
                <div class="oneline margintop_30">
                    <label for="">場次一時間</label>
                    <input type="time" class="time-start" required v-model="activity.s1_start">
                    <h5 class="tilde">~</h5>
                    <input type="time" class="time-end" readonly v-model="activity.s1_end">
                </div>
                <div class="oneline margintop_25">
                    <label for="">場次二時間</label>
                    <input type="time" class="time-start" required v-model="activity.s2_start">
                    <h5 class="tilde">~</h5>
                    <input type="time" class="time-end" readonly v-model="activity.s2_end">
                </div>
                <div class="oneline margintop_25">
                    <label for="">場次三時間</label>
                    <input type="time" class="time-start" required v-model="activity.s3_start">
                    <h5 class="tilde">~</h5>
                    <input type="time" class="time-end" readonly v-model="activity.s3_end">
                </div>
                <div class="margintop_25">
                    <h5>活動介紹</h5>
                    <textarea rows="10" cols="50" required v-model="activity.description"></textarea>
                </div>
                <div class="oneline margintop_30">
                    <label for="">上架時間</label>
                    <input type="date" id="on_date" required v-model="activity.on_date" readonly>
                    <input type="time" value="23:59" id="on_time" v-model="activity.on_time" readonly>
                </div>
                <div class="oneline margintop_25">
                    <label for="">下架時間</label>
                    <input type="date" id="off_date" v-model="activity.off_date">
                    <input type="time" value="23:59" id="off_time"  v-model="activity.off_time">
                </div>

                <div class="buttons">
                    <button type="submit" class="btn-green">確認</button>
                    <a href="back_activity.html"><button type="button" class="btn-border">取消</button></a>
                </div>
                

            </form>

        

            <p class="tibameMessage margintop_50">本網站為緯育TibaMe前端設計工程師班第72期第二組學員專題成果作品，本平台僅供學習、展示之用。</p>
        </main>    
    </main>

    <script src="js/back_activity_modify.js"></script>
</body>
</html>