<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@@title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="img/logo_web.ico" type="image/x-icon"/>
    <script src="./js/vendors/jquery-3.6.0.min.js"></script>
    <script src="./js/vendors/vue.js"></script>
    <script src="js/vendors/gsap.js"></script>
    <script src="./js/vendors/twzipcode.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script> -->
    <!-- <script src="./js/vendors/vue.min.js"></script> -->
