<div id="back_bg">
    <div id="login_box">
        <div class="shikaBlock"><h1><img src="../img/logo_white.svg" alt=""></h1></div>
        <div class="loginBlock ">
            <form action="" method="POST" id="password_reset">
                <h4>重設密碼</h4>
                <p>請輸入您的新密碼</p>
                <label for="password"><h5>密碼</h5></label>
                <input type="password" name="password" id="password">
                <label for=""><h5>密碼確認</h5></label>
                <input type="password" name="repassword" id="repassword">
                <button type="button" id="send_psd">繼續</button>
            </form>
            <i class="bi bi-x"></i>
        </div>
    </div>
</div>