<div id="back_bg">
    <div id="login_box">
        <div class="shikaBlock"><h1><img src="../img/logo_white.svg" alt=""></h1></div>
        <div class="loginBlock ">
            <form action="" method="POST" id="password_reset">
                <h4>重設密碼</h4>
                <p>請在下面輸入您的信箱或帳號。我們會寄一封信給您，裡面含有可以重新設定您的密碼的連結。</p>
                <label for="userMail"><h5>電子郵件</h5></label>
                <input type="email" name="userMail" id="userMail">
                
                <button type="button" id="send_mail">送出</button>
            </form>
            <i class="bi bi-x"></i>
        </div>
    </div>
</div>