<div id="back_bg">
    <div id="login_box">
        <div class="loginBlock ">
            <form action="" method="POST" id="register_from">
                <h4>註冊</h4>
                <div>
                    <div class="u_name">
                        <label for="userName"><h5>姓名</h5></label>
                        <input type="name" name="userName" id="userName">
                    </div>
                    <div class="u_birth">
                        <label for="birthday"><h5>生日</h5></label>
                        <input type="date" name="birthday" id="birthday">
                    </div>
                </div>
                <div class="u_address twzipcode">
                    <label for="address"><h5>聯絡地址</h5></label>
                    <select name="county" id="county"></select><select name="district" id="district" ><select name="zipcode" id="zipcode"></select>
                    <input type="text" name="Street" id="Street">
                </div>
                <label for="phoneNumber"><h5>連絡電話</h5></label>
                <input type="number" name="phoneNumber" id="phoneNumber">
                <button type="button" id="send">繼續</button>
            </form>
            <i class="bi bi-x"></i>
        </div>
    </div>
</div>